In [1]:
#//----------------------------
#//LIBRARIES
    #Math
import math
    #Numeric Python
import numpy as np
    #Pandas (dataframes)
import pandas as pd
    #datetime for fate manipulation
from datetime import date, datetime, timedelta  
    #Regex for advanced string matching
import re
    #for time related stuff
import time
    #json library
import json
    #Analyst tools
import sys
sys.path.append('../')
from analysts_tools.growth import *
    #Procurement tools
from procurement_lib import send_slack_notification
from procurement_lib import redash
from analysts_tools.redash_methods import *

import random
import time
import datetime

import seaborn as sns
import matplotlib.pyplot as plt


from sklearn.model_selection import train_test_split
from scipy.signal import savgol_filter
import statsmodels.formula.api as smf

In [2]:
frida_products = get_fresh_query_result("https://internal-redash.federate.frubana.com/",118629,'SeoGHWmDUaaBi7VXje1s9zYNiMD1VHQ1K1DYOxiF',{},20)

200

In [3]:
df_check = get_fresh_query_result("https://internal-redash.federate.frubana.com/",165821,'SeoGHWmDUaaBi7VXje1s9zYNiMD1VHQ1K1DYOxiF',{},20)

200

In [ ]:
#df_margin = get_fresh_query_result("https://internal-redash.federate.frubana.com/",144521,'SeoGHWmDUaaBi7VXje1s9zYNiMD1VHQ1K1DYOxiF',{},20)

In [4]:
df_margin = df_check.loc[~(df_check.fit_for_discount == 'FALSE'),['card_id','margin']].groupby(['card_id']).margin.mean().reset_index()

In [5]:
custom = pd.read_csv("push customers - customers.csv")

In [125]:
print(f"HOLA {city}")

HOLA CWB

In [96]:
city = 'CWB'
clientes = custom.loc[custom.city == city].customer_id.unique().tolist()
dias = 0
#year-month-day
todays_date = datetime.datetime.today().strftime('%Y-%m-%d')
#non_buyers_date = '2022-08-26' #1 months
customer_date_desde_query = (datetime.datetime.today() - datetime.timedelta(days=30)).strftime('%Y-%m-%d') #1 months

customer_date_desde = (datetime.datetime.today() - datetime.timedelta(days=200))#.strftime('%Y-%m-%d') #1 months

In [97]:
custom

       customer_id city
0        360087971  BHZ
1        156245729  BHZ
2        253061474  BHZ
3        358570122  BHZ
4         96943903  BHZ
...            ...  ...
15571    370678031  VCP
15572    362038761  VCP
15573    203463056  VCP
15574    222861546  VCP
15575    352889575  VCP

[15576 rows x 2 columns]

In [98]:
len(clientes)

1307

In [99]:
query = """
-- 93058
-- Se toma como base el query 2718
WITH 
ful AS (

SELECT DISTINCT
    bo.order_id,
    bo.submit_date
    
FROM postgres_broadleaf_federate."broadleaf.blc_order" bo
INNER JOIN postgres_broadleaf_federate."broadleaf.blc_fulfillment_group" bfg        ON bfg.order_id = bo.order_id
INNER JOIN postgres_broadleaf_federate."broadleaf.blc_fulfillment_order" bfo        ON bfo.fulfillment_group_id = bfg.fulfillment_group_id
INNER JOIN postgres_broadleaf_federate."broadleaf.fb_fulfillment_group" ffg         ON ffg.fulfillment_group_id = bfg.fulfillment_group_id
INNER JOIN postgres_broadleaf_federate."broadleaf.fb_order" fo                      ON fo.order_id = bo.order_id
INNER JOIN postgres_broadleaf_federate."broadleaf.blc_order_payment" bop            ON bop.order_id = bo.order_id
INNER JOIN postgres_broadleaf_federate."broadleaf.blc_site" s                       ON s.site_id = bo.site_disc
LEFT JOIN  postgres_broadleaf_federate."broadleaf.fb_order_type" fot                ON fot.fb_order_type_id=fo.fb_order_type_id

WHERE fo.fb_order_status_id IN (1,6,7,8)
    AND extract(year from bo.submit_date::date) > 2021
    --AND extract(month from bo.submit_date::date) = 6--2021
    AND bo.order_status = 'SUBMITTED'
    AND bfo.status NOT IN ('ARCHIVED','CANCELLED')
    AND bop.archived = 'N'
    AND (fot.name IS NULL OR fot.name <> 'REFUND')
    AND s.site_identifier_value = '{city}' --NOT IN ('MTY','PBC','GDL')
    AND bo.customer_id IN {clientes}
)--,

--more AS (
SELECT DISTINCT
    s.site_identifier_value AS city,
    bo.customer_id,
    --DATE(bo.submit_date) AS submit_date,
    bs.addl_product_id AS card_id,
    bs2.name,
    COUNT(DISTINCT bo.order_id) AS frequency,
    SUM(boipd.quantity * foi.step_unit * boi.sale_price)*1.0 AS gmv_usd,
    SUM(boipd.quantity*foi.step_unit) AS demand

FROM postgres_broadleaf_federate."broadleaf.blc_order" bo
INNER JOIN postgres_broadleaf_federate."broadleaf.blc_site"                     s       ON s.site_id = bo.site_disc
INNER JOIN postgres_broadleaf_federate."broadleaf.blc_order_item"               boi     ON boi.order_id=bo.order_id
INNER JOIN postgres_broadleaf_federate."broadleaf.fb_order_item"                foi     ON boi.order_item_id= foi.order_item_id
INNER JOIN postgres_broadleaf_federate."broadleaf.fb_order"                     fo      ON fo.order_id = bo.order_id
INNER JOIN ful                                                                          ON ful.order_id = bo.order_id
INNER JOIN postgres_broadleaf_federate."broadleaf.blc_discrete_order_item"      bdoi    ON bdoi.order_item_id = boi.order_item_id
INNER JOIN postgres_broadleaf_federate."broadleaf.blc_sku"                      bs      ON bs.sku_id = bdoi.sku_id
INNER JOIN postgres_broadleaf_federate."broadleaf.blc_product"                  bp      ON bs.addl_product_id = bp.product_id
INNER JOIN postgres_broadleaf_federate."broadleaf.blc_sku"                      bs2     ON bs2.sku_id = bp.default_sku_id --Conectar la tarjeta con el sku que guarda la info
INNER JOIN postgres_broadleaf_federate."broadleaf.blc_category"                 bcat    ON bcat.category_id = bp.default_category_id 
INNER JOIN postgres_broadleaf_federate."broadleaf.blc_category_xref"            bcx     ON bcx.sub_category_id = bp.default_category_id AND bcx.archived='N' AND bcx.sndbx_tier is NULL
INNER JOIN postgres_broadleaf_federate."broadleaf.blc_category"                 bcat2   ON bcx.category_id = bcat2.category_id
LEFT JOIN postgres_broadleaf_federate."broadleaf.blc_order_item_price_dtl"      boipd   ON boipd.order_item_id=boi.order_item_id
LEFT JOIN postgres_broadleaf_federate."broadleaf.blc_order_item_dtl_adj"        boida   ON boida.order_item_price_dtl_id=boipd.order_item_price_dtl_id

WHERE fb_order_status_id IN (1,6,7,8)
    AND bo.order_status = 'SUBMITTED'
   -- FIX SUPER DESCUENTOS
    AND bcat2.category_id not in ('110873','-1000','100768','100765','100815') --ids de super descuentos en cada paÃ­s
    AND bcat.name <> 'Oferton Frubana' AND bcat2.name <> 'Oferton Frubana'
GROUP BY 1,2,3,4
""".format(clientes=tuple(set(clientes)), city = city)

data_ventas_aux = read_connection_data_warehouse.runQuery(query)
data_ventas_aux[["frequency", "gmv_usd","demand"]] = data_ventas_aux[["frequency", "gmv_usd","demand"]].astype('float32')
#data_ventas_aux['submit_date'] = pd.to_datetime(data_ventas_aux['submit_date'])

In [100]:
# Assuming your DataFrames are named 'df1' and 'df2'
data_ventas_aux = pd.merge(data_ventas_aux, df_margin[['margin','card_id']], left_on='card_id', right_on='card_id', how='inner')

In [101]:
data_ventas_aux = data_ventas_aux.loc[~data_ventas_aux.card_id.isin([55148,80182,-201566,-201623,748984,749057,749205,749278,749352,749426])].reset_index(drop=True)

In [102]:
# Optional to clean the EagleEye
print(len(data_ventas_aux))

18815

In [103]:
data_ventas_aux['cash_margin'] = data_ventas_aux.gmv_usd * data_ventas_aux.margin

In [104]:
# Assuming your DataFrame is named 'df'
grouped_df = data_ventas_aux.groupby('customer_id').apply(lambda x: x.nlargest(7, ['frequency', 'gmv_usd'])).reset_index(drop=True)

result_df = grouped_df.groupby('customer_id').agg({'card_id': list, 'name': list, 'frequency': list, 'gmv_usd': np.sum, 'cash_margin': np.sum}).reset_index()

result_df["margin"] = 100.00 * result_df.cash_margin / result_df.gmv_usd
result_df['margin'] = np.where(0.80*result_df.margin > 13, 13,0.80*result_df.margin)
result_df['margin'] = result_df['margin'].apply(lambda x: round(x, 2))
result_df['offer_name'] = ["SH_GRADS_"+city+"_"+todays_date+"_"+str(customer) for customer in result_df.customer_id]

result_df = result_df.loc[result_df.margin > 3].copy()

In [105]:
# Step 1: Convert 'card_id' column from lists to individual values
df_exploded = result_df.explode('card_id')

# Step 2: Count the occurrences of each card ID
card_id_counts = df_exploded['card_id'].value_counts().reset_index()

# Rename columns and set 'card_id' as the index
card_id_counts.rename(columns={'index': 'card_id', 'card_id': 'frequency'}, inplace=True)

# Calculate cumulative percentage and percentage over the total
card_id_counts['cumulative_percentage'] = card_id_counts['frequency'].cumsum() / card_id_counts['frequency'].sum()
card_id_counts['percentage_over_total'] = card_id_counts['frequency'] / card_id_counts['frequency'].sum()

# Multiply by 100 and round to two decimal places
card_id_counts['cumulative_percentage'] = (card_id_counts['cumulative_percentage'] * 100).round(2)
card_id_counts['percentage_over_total'] = (card_id_counts['percentage_over_total'] * 100).round(2)

In [106]:
df_demand =  pd.merge(card_id_counts, data_ventas_aux[['card_id','name']], left_on='card_id', right_on='card_id', how='inner')
df_demand.drop_duplicates(subset=['card_id'], keep='first', inplace=True)

In [107]:
def concatenate_skus(card_id_list):
    result = []
    for sku in card_id_list:
        try:
            sku_value = frida_products.loc[frida_products['id_tarjeta'] == sku, 'skus'].values[0]
            result.append(sku_value)
        except IndexError:
            result.append('')
    return '#'.join(result)

In [108]:
from sklearn.model_selection import train_test_split 

def create_groups(offer):
    
    #customers = offer.customer_id.unique()
    customers = offer.customer_id.unique()
    print("Total length: ", len(customers))
    customer_control, customer_test = train_test_split(customers, test_size = 0.50)
    
    alpha=0.01
    aux=0
    while abs(1-(offer[offer.customer_id.isin(customer_control)]['gmv_usd'].mean()/offer[offer.customer_id.isin(customer_test)]['gmv_usd'].mean())) > alpha:
        customer_control, customer_test = train_test_split(customers, test_size = 0.50)
        
        aux+=1
        if aux == 1000:
            alpha+=0.01
            aux=0
        
    return customer_control.tolist(), customer_test.tolist()

In [109]:
control,test = create_groups(result_df)

Total length:  1281

In [110]:
final_df = pd.concat([
    pd.DataFrame({'group': 'control', 'customer_id': control}),
    pd.DataFrame({'group': 'test', 'customer_id': test})
], ignore_index=True)

final_df['city'] = city
final_df['todays_date'] = todays_date

In [111]:
final_df.group.value_counts()

test       641
control    640
Name: group, dtype: int64

In [112]:
final_df.to_csv("SH_GRADS"+todays_date+city+"GROUPS_9a16.csv", index=False)

In [113]:
global_segment_list = []

for i in result_df.loc[result_df.customer_id.isin(test)].values:
    global_segment_list.append({'name':i[-1], 'customersIds': [i[0]],"expiresAt": (datetime.datetime.today() + datetime.timedelta(days=(dias+2))).strftime('%Y-%m-%d')})
    
result_df = result_df.loc[result_df.customer_id.isin(test)].reset_index(drop=True).copy()

In [114]:
csv_file = {} 
csv_file['offer_name'] = result_df.offer_name
csv_file['offer_description'] = None
csv_file['discount'] = result_df.margin
csv_file['automatically_consider_offer'] = "true"
csv_file['start_date'] = (datetime.datetime.today() + datetime.timedelta(days=dias)).strftime('%d-%m-%Y')
csv_file['end_date'] = (datetime.datetime.today() + datetime.timedelta(days=(dias+2))).strftime('%d-%m-%Y')
csv_file['max_uses_per_order'] = 120
csv_file['max_uses_per_customer'] = 2
csv_file['customer_segment_id'] = [1]*len(result_df.offer_name) #[None]
csv_file['sku_id'] = result_df['card_id'].apply(concatenate_skus)
csv_file['segment_behaviour'] = 'INCLUDED'
csv_file['offer_type'] = 'SUPER_HOOK'
csv_file['supplier_discount'] = 0

global_offer_csv = pd.DataFrame(csv_file) #, index=[0])

In [115]:
global_offer_csv.head()

,offer_name,offer_description,discount,automatically_consider_offer,start_date,end_date,max_uses_per_order,max_uses_per_customer,customer_segment_id,sku_id,segment_behaviour,offer_type,supplier_discount
0,SH_GRADS_CWB_2024-03-20_110371528,None,10.87,true,20-03-2024,22-03-2024,120,2,1,363165#578143#363213#391139#385404#637967#453384,INCLUDED,SUPER_HOOK,0
1,SH_GRADS_CWB_2024-03-20_110530410,None,13.00,true,20-03-2024,22-03-2024,120,2,1,369891#649881#368392#363179#583749#363203#3631...,INCLUDED,SUPER_HOOK,0
2,SH_GRADS_CWB_2024-03-20_110587542,None,7.56,true,20-03-2024,22-03-2024,120,2,1,#370809#370856#421313#370915#391139,INCLUDED,SUPER_HOOK,0
3,SH_GRADS_CWB_2024-03-20_110974782,None,12.68,true,20-03-2024,22-03-2024,120,2,1,623189#385443#371317#363165#477628#363213#363253,INCLUDED,SUPER_HOOK,0
4,SH_GRADS_CWB_2024-03-20_111735559,None,13.00,true,20-03-2024,22-03-2024,120,2,1,363304#363195#363141#363203#424298#363273#645649,INCLUDED,SUPER_HOOK,0

In [116]:
# Replace two or three '#' with one '#'
global_offer_csv['sku_id'] = global_offer_csv['sku_id'].str.replace('###', '#')
global_offer_csv['sku_id'] = global_offer_csv['sku_id'].str.replace('##', '#')
    
# Replace '#' at the beginning with an empty string
global_offer_csv['sku_id'] = global_offer_csv['sku_id'].str.replace('^#', '', regex=True)

# Remove rows where the string is empty
global_offer_csv = global_offer_csv.loc[global_offer_csv['sku_id'] != ""]

In [117]:
global_offer_csv

,offer_name,offer_description,discount,automatically_consider_offer,start_date,end_date,max_uses_per_order,max_uses_per_customer,customer_segment_id,sku_id,segment_behaviour,offer_type,supplier_discount
0,SH_GRADS_CWB_2024-03-20_110371528,None,10.87,true,20-03-2024,22-03-2024,120,2,1,363165#578143#363213#391139#385404#637967#453384,INCLUDED,SUPER_HOOK,0
1,SH_GRADS_CWB_2024-03-20_110530410,None,13.00,true,20-03-2024,22-03-2024,120,2,1,369891#649881#368392#363179#583749#363203#3631...,INCLUDED,SUPER_HOOK,0
2,SH_GRADS_CWB_2024-03-20_110587542,None,7.56,true,20-03-2024,22-03-2024,120,2,1,370809#370856#421313#370915#391139,INCLUDED,SUPER_HOOK,0
3,SH_GRADS_CWB_2024-03-20_110974782,None,12.68,true,20-03-2024,22-03-2024,120,2,1,623189#385443#371317#363165#477628#363213#363253,INCLUDED,SUPER_HOOK,0
4,SH_GRADS_CWB_2024-03-20_111735559,None,13.00,true,20-03-2024,22-03-2024,120,2,1,363304#363195#363141#363203#424298#363273#645649,INCLUDED,SUPER_HOOK,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
636,SH_GRADS_CWB_2024-03-20_370446372,None,13.00,true,20-03-2024,22-03-2024,120,2,1,363171#363257#363203#363201#363273#368422#3684...,INCLUDED,SUPER_HOOK,0
637,SH_GRADS_CWB_2024-03-20_370515802,None,13.00,true,20-03-2024,22-03-2024,120,2,1,423482#652055#385404#385443#385434#377327#369513,INCLUDED,SUPER_HOOK,0
638,SH_GRADS_CWB_2024-03-20_370538450,None,7.23,true,20-03-2024,22-03-2024,120,2,1,385404#381444,INCLUDED,SUPER_HOOK,0
639,SH_GRADS_CWB_2024-03-20_370645887,None,7.93,true,20-03-2024,22-03-2024,120,2,1,363177#368404#385404#381444#621867,INCLUDED,SUPER_HOOK,0
640,SH_GRADS_CWB_2024-03-20_370678039,None,13.00,true,20-03-2024,22-03-2024,120,2,1,633333,INCLUDED,SUPER_HOOK,0

In [118]:
import requests
import json

url = f"https://{city}.frubana.com/api/v1/segments/create?api-key=00_growth-team-zzz-qqq_001"

payload = json.dumps(global_segment_list)


headers = {
  'Cookie': 'AWSALB=WGKrKvA1CFOY0m92xSENGAseuE4LrcfQh9y8jK/loGBJdizNm+FvjOqUqVghxdfLkH6Jsa9sfWft2NELchGAP/LNZMXMYhrOE70qDnUuOHATpdJj1UZBMEUBSIN1; AWSALBCORS=WGKrKvA1CFOY0m92xSENGAseuE4LrcfQh9y8jK/loGBJdizNm+FvjOqUqVghxdfLkH6Jsa9sfWft2NELchGAP/LNZMXMYhrOE70qDnUuOHATpdJj1UZBMEUBSIN1; AWSALB=jLY02FPysvF1vTrKLhXbk3ibzmyiAqFJ1ezYVu5PjodkU2QmPHDpRJhb9CvOlOyQ1Ix0mJR1ig+eH9zwJ9i5EOtgsgx79NSROogQb2Ua6yLX/I3bJJ6xtcVO3puI; AWSALBCORS=jLY02FPysvF1vTrKLhXbk3ibzmyiAqFJ1ezYVu5PjodkU2QmPHDpRJhb9CvOlOyQ1Ix0mJR1ig+eH9zwJ9i5EOtgsgx79NSROogQb2Ua6yLX/I3bJJ6xtcVO3puI',
  'Content-Type': 'application/json'
}

response = requests.request("POST", url, headers=headers, data=payload)

In [119]:
response.text

'Customer segments were created: [653457-SH_GRADS_CWB_2024-03-20_110371528, 653458-SH_GRADS_CWB_2024-03-20_110530410, 653461-SH_GRADS_CWB_2024-03-20_110587542, 653462-SH_GRADS_CWB_2024-03-20_110974782, 653460-SH_GRADS_CWB_2024-03-20_111735559, 653459-SH_GRADS_CWB_2024-03-20_113396816, 653463-SH_GRADS_CWB_2024-03-20_113663757, 653465-SH_GRADS_CWB_2024-03-20_114941171, 653464-SH_GRADS_CWB_2024-03-20_115368494, 653466-SH_GRADS_CWB_2024-03-20_115404142, 653467-SH_GRADS_CWB_2024-03-20_115473103, 653468-SH_GRADS_CWB_2024-03-20_116025601, 653469-SH_GRADS_CWB_2024-03-20_116079645, 653470-SH_GRADS_CWB_2024-03-20_116259926, 653471-SH_GRADS_CWB_2024-03-20_116419102, 653472-SH_GRADS_CWB_2024-03-20_116551655, 653473-SH_GRADS_CWB_2024-03-20_116572513, 653474-SH_GRADS_CWB_2024-03-20_117440035, 653475-SH_GRADS_CWB_2024-03-20_117462694, 653476-SH_GRADS_CWB_2024-03-20_117860309, 653478-SH_GRADS_CWB_2024-03-20_117915499, 653479-SH_GRADS_CWB_2024-03-20_118464040, 653477-SH_GRADS_CWB_2024-03-20_118478733, 653480-SH_GRADS_CWB_2024-03-20_120573253, 653481-SH_GRADS_CWB_2024-03-20_120630761, 653483-SH_GRADS_CWB_2024-03-20_121851203, 653482-SH_GRADS_CWB_2024-03-20_123681037, 653484-SH_GRADS_CWB_2024-03-20_123708602, 653485-SH_GRADS_CWB_2024-03-20_123715664, 653486-SH_GRADS_CWB_2024-03-20_123789765, 653487-SH_GRADS_CWB_2024-03-20_124360614, 653488-SH_GRADS_CWB_2024-03-20_125366183, 653489-SH_GRADS_CWB_2024-03-20_125584575, 653490-SH_GRADS_CWB_2024-03-20_125903215, 653491-SH_GRADS_CWB_2024-03-20_126892958, 653492-SH_GRADS_CWB_2024-03-20_127197833, 653493-SH_GRADS_CWB_2024-03-20_127310201, 653494-SH_GRADS_CWB_2024-03-20_128727241, 653495-SH_GRADS_CWB_2024-03-20_128973983, 653496-SH_GRADS_CWB_2024-03-20_131429877, 653497-SH_GRADS_CWB_2024-03-20_131582468, 653498-SH_GRADS_CWB_2024-03-20_132060636, 653499-SH_GRADS_CWB_2024-03-20_132180272, 653500-SH_GRADS_CWB_2024-03-20_132793346, 654901-SH_GRADS_CWB_2024-03-20_134096262, 654906-SH_GRADS_CWB_2024-03-20_134099774, 654905-SH_GRADS_CWB_2024-03-20_134592185, 654904-SH_GRADS_CWB_2024-03-20_134651290, 654903-SH_GRADS_CWB_2024-03-20_135004681, 654902-SH_GRADS_CWB_2024-03-20_135069638, 654907-SH_GRADS_CWB_2024-03-20_135070386, 654910-SH_GRADS_CWB_2024-03-20_135938259, 654909-SH_GRADS_CWB_2024-03-20_136553847, 654908-SH_GRADS_CWB_2024-03-20_136642925, 654911-SH_GRADS_CWB_2024-03-20_138223163, 654912-SH_GRADS_CWB_2024-03-20_138506751, 654913-SH_GRADS_CWB_2024-03-20_138604389, 654916-SH_GRADS_CWB_2024-03-20_138616590, 654917-SH_GRADS_CWB_2024-03-20_138679370, 654914-SH_GRADS_CWB_2024-03-20_139103380, 654915-SH_GRADS_CWB_2024-03-20_139126017, 654918-SH_GRADS_CWB_2024-03-20_139198169, 654919-SH_GRADS_CWB_2024-03-20_139204793, 654920-SH_GRADS_CWB_2024-03-20_139208451, 654921-SH_GRADS_CWB_2024-03-20_139276614, 654922-SH_GRADS_CWB_2024-03-20_139690578, 654923-SH_GRADS_CWB_2024-03-20_139819264, 654924-SH_GRADS_CWB_2024-03-20_139854869, 654925-SH_GRADS_CWB_2024-03-20_139994201, 654926-SH_GRADS_CWB_2024-03-20_140208931, 654928-SH_GRADS_CWB_2024-03-20_140240927, 654927-SH_GRADS_CWB_2024-03-20_140373739, 654930-SH_GRADS_CWB_2024-03-20_141738145, 654929-SH_GRADS_CWB_2024-03-20_141790998, 654931-SH_GRADS_CWB_2024-03-20_142409291, 654932-SH_GRADS_CWB_2024-03-20_142449595, 654935-SH_GRADS_CWB_2024-03-20_142976931, 654933-SH_GRADS_CWB_2024-03-20_143528209, 654936-SH_GRADS_CWB_2024-03-20_143939909, 654934-SH_GRADS_CWB_2024-03-20_145208752, 654937-SH_GRADS_CWB_2024-03-20_145234786, 654938-SH_GRADS_CWB_2024-03-20_145531367, 654939-SH_GRADS_CWB_2024-03-20_145928966, 654940-SH_GRADS_CWB_2024-03-20_146146023, 654942-SH_GRADS_CWB_2024-03-20_146644657, 654941-SH_GRADS_CWB_2024-03-20_147278318, 654943-SH_GRADS_CWB_2024-03-20_147332427, 654944-SH_GRADS_CWB_2024-03-20_147542342, 654946-SH_GRADS_CWB_2024-03-20_147767073, 654945-SH_GRADS_CWB_2024-03-20_147839745, 654947-SH_GRADS_CWB_2024-03-20_148023470, 654948-SH_GRADS_CWB_2024-03-20_149337200, 654949-SH_GRADS_CWB_2024-03-20_149464917, 654950-SH_GRADS_CWB_2024-03-20_149920735, 654951-SH_GRADS_CWB_2024-03-20_150746169, 654956-SH_GRADS_CWB_2024-03-20_150764021, 654955-SH_GRADS_CWB_2024-03-20_150872226, 654954-SH_GRADS_CWB_2024-03-20_150925980, 654953-SH_GRADS_CWB_2024-03-20_151992696, 654952-SH_GRADS_CWB_2024-03-20_152048883, 654957-SH_GRADS_CWB_2024-03-20_153366348, 654959-SH_GRADS_CWB_2024-03-20_153371602, 654962-SH_GRADS_CWB_2024-03-20_153392262, 654958-SH_GRADS_CWB_2024-03-20_153482026, 654960-SH_GRADS_CWB_2024-03-20_153963733, 654961-SH_GRADS_CWB_2024-03-20_153982418, 654963-SH_GRADS_CWB_2024-03-20_154160505, 654964-SH_GRADS_CWB_2024-03-20_155080248, 654965-SH_GRADS_CWB_2024-03-20_155179137, 654966-SH_GRADS_CWB_2024-03-20_155196862, 654967-SH_GRADS_CWB_2024-03-20_155640856, 654968-SH_GRADS_CWB_2024-03-20_156912391, 654969-SH_GRADS_CWB_2024-03-20_157225170, 654970-SH_GRADS_CWB_2024-03-20_157346760, 654971-SH_GRADS_CWB_2024-03-20_157459293, 654973-SH_GRADS_CWB_2024-03-20_157867462, 654972-SH_GRADS_CWB_2024-03-20_157879649, 654974-SH_GRADS_CWB_2024-03-20_158286652, 654975-SH_GRADS_CWB_2024-03-20_158351090, 654976-SH_GRADS_CWB_2024-03-20_158388468, 654977-SH_GRADS_CWB_2024-03-20_158415364, 654978-SH_GRADS_CWB_2024-03-20_158816367, 654979-SH_GRADS_CWB_2024-03-20_158941384, 654980-SH_GRADS_CWB_2024-03-20_158987823, 654981-SH_GRADS_CWB_2024-03-20_159460004, 654982-SH_GRADS_CWB_2024-03-20_159983352, 654983-SH_GRADS_CWB_2024-03-20_160286134, 654985-SH_GRADS_CWB_2024-03-20_160290971, 654984-SH_GRADS_CWB_2024-03-20_160402832, 654986-SH_GRADS_CWB_2024-03-20_160415090, 654987-SH_GRADS_CWB_2024-03-20_160754642, 654989-SH_GRADS_CWB_2024-03-20_161227598, 654988-SH_GRADS_CWB_2024-03-20_161927029, 654990-SH_GRADS_CWB_2024-03-20_162629175, 654991-SH_GRADS_CWB_2024-03-20_162635670, 654992-SH_GRADS_CWB_2024-03-20_163719959, 654993-SH_GRADS_CWB_2024-03-20_163735937, 654994-SH_GRADS_CWB_2024-03-20_164855655, 654995-SH_GRADS_CWB_2024-03-20_165291329, 654996-SH_GRADS_CWB_2024-03-20_165475570, 654997-SH_GRADS_CWB_2024-03-20_165926309, 654998-SH_GRADS_CWB_2024-03-20_165988351, 654999-SH_GRADS_CWB_2024-03-20_166243722, 655000-SH_GRADS_CWB_2024-03-20_167123867, 655001-SH_GRADS_CWB_2024-03-20_167218876, 655005-SH_GRADS_CWB_2024-03-20_168420226, 655004-SH_GRADS_CWB_2024-03-20_168802972, 655003-SH_GRADS_CWB_2024-03-20_169292864, 655002-SH_GRADS_CWB_2024-03-20_169448507, 655006-SH_GRADS_CWB_2024-03-20_170487002, 655007-SH_GRADS_CWB_2024-03-20_171075937, 655008-SH_GRADS_CWB_2024-03-20_171122109, 655009-SH_GRADS_CWB_2024-03-20_172045804, 655010-SH_GRADS_CWB_2024-03-20_172540087, 655011-SH_GRADS_CWB_2024-03-20_172592249, 655012-SH_GRADS_CWB_2024-03-20_173659778, 655014-SH_GRADS_CWB_2024-03-20_173698367, 655013-SH_GRADS_CWB_2024-03-20_173881637, 655015-SH_GRADS_CWB_2024-03-20_173992759, 655016-SH_GRADS_CWB_2024-03-20_174052002, 655017-SH_GRADS_CWB_2024-03-20_174197530, 655018-SH_GRADS_CWB_2024-03-20_174209069, 655019-SH_GRADS_CWB_2024-03-20_174282832, 655020-SH_GRADS_CWB_2024-03-20_174717466, 655021-SH_GRADS_CWB_2024-03-20_175174431, 655022-SH_GRADS_CWB_2024-03-20_175527880, 655023-SH_GRADS_CWB_2024-03-20_176423291, 655024-SH_GRADS_CWB_2024-03-20_177003037, 655025-SH_GRADS_CWB_2024-03-20_177492953, 655026-SH_GRADS_CWB_2024-03-20_177719476, 655027-SH_GRADS_CWB_2024-03-20_178242101, 655028-SH_GRADS_CWB_2024-03-20_178651222, 655029-SH_GRADS_CWB_2024-03-20_179311184, 655032-SH_GRADS_CWB_2024-03-20_180981615, 655031-SH_GRADS_CWB_2024-03-20_181655902, 655030-SH_GRADS_CWB_2024-03-20_183256372, 655033-SH_GRADS_CWB_2024-03-20_183303110, 655034-SH_GRADS_CWB_2024-03-20_183562799, 655035-SH_GRADS_CWB_2024-03-20_184265009, 655036-SH_GRADS_CWB_2024-03-20_185307876, 655038-SH_GRADS_CWB_2024-03-20_185386398, 655037-SH_GRADS_CWB_2024-03-20_185397663, 655039-SH_GRADS_CWB_2024-03-20_185961523, 655040-SH_GRADS_CWB_2024-03-20_187065145, 655041-SH_GRADS_CWB_2024-03-20_187256561, 655042-SH_GRADS_CWB_2024-03-20_187532367, 655043-SH_GRADS_CWB_2024-03-20_187655981, 655044-SH_GRADS_CWB_2024-03-20_187663283, 655045-SH_GRADS_CWB_2024-03-20_188028148, 655046-SH_GRADS_CWB_2024-03-20_188038732, 655047-SH_GRADS_CWB_2024-03-20_188153321, 655048-SH_GRADS_CWB_2024-03-20_188217441, 655049-SH_GRADS_CWB_2024-03-20_188722253, 655050-SH_GRADS_CWB_2024-03-20_188807641, 655056-SH_GRADS_CWB_2024-03-20_188918024, 655051-SH_GRADS_CWB_2024-03-20_189591429, 655055-SH_GRADS_CWB_2024-03-20_190965517, 655054-SH_GRADS_CWB_2024-03-20_191187146, 655052-SH_GRADS_CWB_2024-03-20_191837047, 655053-SH_GRADS_CWB_2024-03-20_195160198, 655057-SH_GRADS_CWB_2024-03-20_196466241, 655059-SH_GRADS_CWB_2024-03-20_196701980, 655058-SH_GRADS_CWB_2024-03-20_197433372, 655061-SH_GRADS_CWB_2024-03-20_197730515, 655060-SH_GRADS_CWB_2024-03-20_198023909, 655062-SH_GRADS_CWB_2024-03-20_198320377, 655063-SH_GRADS_CWB_2024-03-20_198375264, 655065-SH_GRADS_CWB_2024-03-20_199386441, 655064-SH_GRADS_CWB_2024-03-20_199417072, 655066-SH_GRADS_CWB_2024-03-20_199968577, 655067-SH_GRADS_CWB_2024-03-20_199970507, 655068-SH_GRADS_CWB_2024-03-20_200077551, 655069-SH_GRADS_CWB_2024-03-20_201849222, 655070-SH_GRADS_CWB_2024-03-20_202650188, 655071-SH_GRADS_CWB_2024-03-20_203538062, 655072-SH_GRADS_CWB_2024-03-20_205103793, 655073-SH_GRADS_CWB_2024-03-20_207562478, 655074-SH_GRADS_CWB_2024-03-20_208051939, 655075-SH_GRADS_CWB_2024-03-20_208863673, 655076-SH_GRADS_CWB_2024-03-20_208970416, 655077-SH_GRADS_CWB_2024-03-20_209021530, 655078-SH_GRADS_CWB_2024-03-20_210956751, 655079-SH_GRADS_CWB_2024-03-20_211082696, 655080-SH_GRADS_CWB_2024-03-20_211398187, 655081-SH_GRADS_CWB_2024-03-20_211514415, 655082-SH_GRADS_CWB_2024-03-20_211541003, 655083-SH_GRADS_CWB_2024-03-20_211543568, 655084-SH_GRADS_CWB_2024-03-20_211644877, 655085-SH_GRADS_CWB_2024-03-20_211921896, 655086-SH_GRADS_CWB_2024-03-20_212141281, 655087-SH_GRADS_CWB_2024-03-20_214861125, 655088-SH_GRADS_CWB_2024-03-20_215382276, 655089-SH_GRADS_CWB_2024-03-20_215482062, 655090-SH_GRADS_CWB_2024-03-20_215822030, 655091-SH_GRADS_CWB_2024-03-20_218866045, 655093-SH_GRADS_CWB_2024-03-20_220470123, 655092-SH_GRADS_CWB_2024-03-20_220536500, 655094-SH_GRADS_CWB_2024-03-20_221098371, 655095-SH_GRADS_CWB_2024-03-20_221934069, 655096-SH_GRADS_CWB_2024-03-20_222462073, 655097-SH_GRADS_CWB_2024-03-20_223959642, 655098-SH_GRADS_CWB_2024-03-20_224576441, 655099-SH_GRADS_CWB_2024-03-20_224611312, 655100-SH_GRADS_CWB_2024-03-20_225881104, 655101-SH_GRADS_CWB_2024-03-20_227803254, 655106-SH_GRADS_CWB_2024-03-20_229282817, 655105-SH_GRADS_CWB_2024-03-20_229709950, 655104-SH_GRADS_CWB_2024-03-20_230333333, 655103-SH_GRADS_CWB_2024-03-20_232120685, 655102-SH_GRADS_CWB_2024-03-20_232874001, 655107-SH_GRADS_CWB_2024-03-20_233953386, 655108-SH_GRADS_CWB_2024-03-20_234158660, 655109-SH_GRADS_CWB_2024-03-20_237836521, 655110-SH_GRADS_CWB_2024-03-20_242964843, 655111-SH_GRADS_CWB_2024-03-20_244043627, 655112-SH_GRADS_CWB_2024-03-20_245046587, 655113-SH_GRADS_CWB_2024-03-20_246136649, 655115-SH_GRADS_CWB_2024-03-20_247470096, 655114-SH_GRADS_CWB_2024-03-20_248293881, 655116-SH_GRADS_CWB_2024-03-20_248447709, 655117-SH_GRADS_CWB_2024-03-20_254914657, 655118-SH_GRADS_CWB_2024-03-20_255929483, 655119-SH_GRADS_CWB_2024-03-20_256433069, 655120-SH_GRADS_CWB_2024-03-20_256868701, 655121-SH_GRADS_CWB_2024-03-20_257458608, 655122-SH_GRADS_CWB_2024-03-20_259765411, 655123-SH_GRADS_CWB_2024-03-20_260691911, 655124-SH_GRADS_CWB_2024-03-20_261021889, 655125-SH_GRADS_CWB_2024-03-20_262773848, 655126-SH_GRADS_CWB_2024-03-20_263748366, 655127-SH_GRADS_CWB_2024-03-20_263754997, 655129-SH_GRADS_CWB_2024-03-20_264179003, 655128-SH_GRADS_CWB_2024-03-20_265834997, 655130-SH_GRADS_CWB_2024-03-20_267162396, 655131-SH_GRADS_CWB_2024-03-20_267175539, 655132-SH_GRADS_CWB_2024-03-20_267220050, 655133-SH_GRADS_CWB_2024-03-20_268025679, 655134-SH_GRADS_CWB_2024-03-20_268654565, 655135-SH_GRADS_CWB_2024-03-20_269297484, 655136-SH_GRADS_CWB_2024-03-20_271881070, 655137-SH_GRADS_CWB_2024-03-20_272047978, 655138-SH_GRADS_CWB_2024-03-20_272450197, 655139-SH_GRADS_CWB_2024-03-20_273920414, 655140-SH_GRADS_CWB_2024-03-20_275952941, 655141-SH_GRADS_CWB_2024-03-20_277857122, 655142-SH_GRADS_CWB_2024-03-20_280538595, 655143-SH_GRADS_CWB_2024-03-20_287251344, 655144-SH_GRADS_CWB_2024-03-20_288310705, 655145-SH_GRADS_CWB_2024-03-20_288897868, 655146-SH_GRADS_CWB_2024-03-20_288963928, 655147-SH_GRADS_CWB_2024-03-20_289385615, 655148-SH_GRADS_CWB_2024-03-20_289807288, 655150-SH_GRADS_CWB_2024-03-20_291045456, 655149-SH_GRADS_CWB_2024-03-20_291063801, 655151-SH_GRADS_CWB_2024-03-20_291086408, 655152-SH_GRADS_CWB_2024-03-20_291437142, 655155-SH_GRADS_CWB_2024-03-20_291940137, 655154-SH_GRADS_CWB_2024-03-20_293322412, 655153-SH_GRADS_CWB_2024-03-20_293340709, 655156-SH_GRADS_CWB_2024-03-20_294004826, 655157-SH_GRADS_CWB_2024-03-20_296478313, 655158-SH_GRADS_CWB_2024-03-20_298016161, 655161-SH_GRADS_CWB_2024-03-20_298050257, 655159-SH_GRADS_CWB_2024-03-20_299923932, 655160-SH_GRADS_CWB_2024-03-20_300906079, 655162-SH_GRADS_CWB_2024-03-20_301528685, 655163-SH_GRADS_CWB_2024-03-20_301607086, 655164-SH_GRADS_CWB_2024-03-20_302027373, 655165-SH_GRADS_CWB_2024-03-20_302789687, 655166-SH_GRADS_CWB_2024-03-20_303421753, 655167-SH_GRADS_CWB_2024-03-20_305038261, 655168-SH_GRADS_CWB_2024-03-20_305051303, 655169-SH_GRADS_CWB_2024-03-20_305631872, 655170-SH_GRADS_CWB_2024-03-20_306271125, 655171-SH_GRADS_CWB_2024-03-20_306339794, 655173-SH_GRADS_CWB_2024-03-20_308079894, 655174-SH_GRADS_CWB_2024-03-20_309038374, 655172-SH_GRADS_CWB_2024-03-20_309069140, 655175-SH_GRADS_CWB_2024-03-20_309164860, 655179-SH_GRADS_CWB_2024-03-20_309740564, 655176-SH_GRADS_CWB_2024-03-20_309850134, 655177-SH_GRADS_CWB_2024-03-20_311294999, 655178-SH_GRADS_CWB_2024-03-20_311432031, 655180-SH_GRADS_CWB_2024-03-20_315325595, 655181-SH_GRADS_CWB_2024-03-20_321557061, 655182-SH_GRADS_CWB_2024-03-20_322892914, 655184-SH_GRADS_CWB_2024-03-20_324687715, 655183-SH_GRADS_CWB_2024-03-20_324729218, 655185-SH_GRADS_CWB_2024-03-20_325125088, 655186-SH_GRADS_CWB_2024-03-20_325128738, 655187-SH_GRADS_CWB_2024-03-20_326896598, 655188-SH_GRADS_CWB_2024-03-20_328270785, 655189-SH_GRADS_CWB_2024-03-20_329283277, 655190-SH_GRADS_CWB_2024-03-20_329548255, 655191-SH_GRADS_CWB_2024-03-20_330798933, 655194-SH_GRADS_CWB_2024-03-20_331018939, 655193-SH_GRADS_CWB_2024-03-20_331535375, 655192-SH_GRADS_CWB_2024-03-20_332128981, 655196-SH_GRADS_CWB_2024-03-20_332736177, 655195-SH_GRADS_CWB_2024-03-20_333791110, 655197-SH_GRADS_CWB_2024-03-20_334698827, 655199-SH_GRADS_CWB_2024-03-20_335677820, 655198-SH_GRADS_CWB_2024-03-20_336923623, 655200-SH_GRADS_CWB_2024-03-20_336958827, 655203-SH_GRADS_CWB_2024-03-20_337488613, 655201-SH_GRADS_CWB_2024-03-20_338782414, 655205-SH_GRADS_CWB_2024-03-20_339343925, 655202-SH_GRADS_CWB_2024-03-20_341445789, 655206-SH_GRADS_CWB_2024-03-20_341658369, 655204-SH_GRADS_CWB_2024-03-20_341818999, 655207-SH_GRADS_CWB_2024-03-20_342487513, 655210-SH_GRADS_CWB_2024-03-20_342688100, 655209-SH_GRADS_CWB_2024-03-20_342777357, 655208-SH_GRADS_CWB_2024-03-20_342866384, 655211-SH_GRADS_CWB_2024-03-20_343061411, 655212-SH_GRADS_CWB_2024-03-20_343315439, 655213-SH_GRADS_CWB_2024-03-20_343533099, 655214-SH_GRADS_CWB_2024-03-20_343667062, 655215-SH_GRADS_CWB_2024-03-20_343694934, 655216-SH_GRADS_CWB_2024-03-20_343736204, 655217-SH_GRADS_CWB_2024-03-20_344602637, 655218-SH_GRADS_CWB_2024-03-20_344653647, 655219-SH_GRADS_CWB_2024-03-20_344965836, 655220-SH_GRADS_CWB_2024-03-20_345179262, 655221-SH_GRADS_CWB_2024-03-20_345295300, 655224-SH_GRADS_CWB_2024-03-20_345321610, 655222-SH_GRADS_CWB_2024-03-20_345348150, 655223-SH_GRADS_CWB_2024-03-20_345352380, 655225-SH_GRADS_CWB_2024-03-20_345404945, 655226-SH_GRADS_CWB_2024-03-20_345495574, 655227-SH_GRADS_CWB_2024-03-20_345610692, 655228-SH_GRADS_CWB_2024-03-20_345751930, 655229-SH_GRADS_CWB_2024-03-20_346379873, 655230-SH_GRADS_CWB_2024-03-20_346552623, 655231-SH_GRADS_CWB_2024-03-20_346920798, 655232-SH_GRADS_CWB_2024-03-20_346979353, 655233-SH_GRADS_CWB_2024-03-20_347043958, 655234-SH_GRADS_CWB_2024-03-20_347078813, 655235-SH_GRADS_CWB_2024-03-20_347183616, 655236-SH_GRADS_CWB_2024-03-20_347266779, 655237-SH_GRADS_CWB_2024-03-20_347591470, 655239-SH_GRADS_CWB_2024-03-20_347705545, 655238-SH_GRADS_CWB_2024-03-20_347706277, 655240-SH_GRADS_CWB_2024-03-20_347725015, 655241-SH_GRADS_CWB_2024-03-20_347764516, 655243-SH_GRADS_CWB_2024-03-20_347833677, 655244-SH_GRADS_CWB_2024-03-20_347848997, 655242-SH_GRADS_CWB_2024-03-20_348736988, 655245-SH_GRADS_CWB_2024-03-20_348986742, 655246-SH_GRADS_CWB_2024-03-20_349085748, 655247-SH_GRADS_CWB_2024-03-20_349420850, 655248-SH_GRADS_CWB_2024-03-20_349436093, 655249-SH_GRADS_CWB_2024-03-20_349512052, 655250-SH_GRADS_CWB_2024-03-20_349532819, 655251-SH_GRADS_CWB_2024-03-20_349660558, 655253-SH_GRADS_CWB_2024-03-20_349671512, 655254-SH_GRADS_CWB_2024-03-20_350242975, 655252-SH_GRADS_CWB_2024-03-20_350365077, 655255-SH_GRADS_CWB_2024-03-20_350455004, 655256-SH_GRADS_CWB_2024-03-20_350507726, 655257-SH_GRADS_CWB_2024-03-20_350575077, 655259-SH_GRADS_CWB_2024-03-20_350599110, 655258-SH_GRADS_CWB_2024-03-20_350600007, 655261-SH_GRADS_CWB_2024-03-20_350610436, 655260-SH_GRADS_CWB_2024-03-20_350831442, 655262-SH_GRADS_CWB_2024-03-20_350872781, 655263-SH_GRADS_CWB_2024-03-20_350925148, 655264-SH_GRADS_CWB_2024-03-20_350936949, 655266-SH_GRADS_CWB_2024-03-20_350942648, 655265-SH_GRADS_CWB_2024-03-20_350964038, 655267-SH_GRADS_CWB_2024-03-20_350991402, 655268-SH_GRADS_CWB_2024-03-20_351004592, 655269-SH_GRADS_CWB_2024-03-20_351005403, 655270-SH_GRADS_CWB_2024-03-20_351095458, 655271-SH_GRADS_CWB_2024-03-20_351206993, 655272-SH_GRADS_CWB_2024-03-20_351211009, 655273-SH_GRADS_CWB_2024-03-20_351221266, 655274-SH_GRADS_CWB_2024-03-20_351245469, 655275-SH_GRADS_CWB_2024-03-20_351257323, 655276-SH_GRADS_CWB_2024-03-20_351306444, 655279-SH_GRADS_CWB_2024-03-20_351320557, 655278-SH_GRADS_CWB_2024-03-20_351354378, 655277-SH_GRADS_CWB_2024-03-20_351363540, 655280-SH_GRADS_CWB_2024-03-20_351549288, 655281-SH_GRADS_CWB_2024-03-20_352134189, 655282-SH_GRADS_CWB_2024-03-20_352161237, 655283-SH_GRADS_CWB_2024-03-20_352246248, 655284-SH_GRADS_CWB_2024-03-20_352269709, 655285-SH_GRADS_CWB_2024-03-20_352627226, 655286-SH_GRADS_CWB_2024-03-20_352764111, 655287-SH_GRADS_CWB_2024-03-20_352787519, 655288-SH_GRADS_CWB_2024-03-20_352790513, 655289-SH_GRADS_CWB_2024-03-20_352876190, 655291-SH_GRADS_CWB_2024-03-20_353260579, 655292-SH_GRADS_CWB_2024-03-20_353266959, 655290-SH_GRADS_CWB_2024-03-20_353294285, 655293-SH_GRADS_CWB_2024-03-20_353380083, 655294-SH_GRADS_CWB_2024-03-20_353418295, 655295-SH_GRADS_CWB_2024-03-20_353426327, 655296-SH_GRADS_CWB_2024-03-20_353485941, 655298-SH_GRADS_CWB_2024-03-20_353497477, 655297-SH_GRADS_CWB_2024-03-20_353500672, 655299-SH_GRADS_CWB_2024-03-20_353508955, 655300-SH_GRADS_CWB_2024-03-20_353520693, 655301-SH_GRADS_CWB_2024-03-20_353523098, 655305-SH_GRADS_CWB_2024-03-20_353524223, 655303-SH_GRADS_CWB_2024-03-20_353613091, 655302-SH_GRADS_CWB_2024-03-20_353734095, 655304-SH_GRADS_CWB_2024-03-20_353734288, 655306-SH_GRADS_CWB_2024-03-20_353744641, 655307-SH_GRADS_CWB_2024-03-20_354010223, 655308-SH_GRADS_CWB_2024-03-20_354027039, 655309-SH_GRADS_CWB_2024-03-20_354029047, 655310-SH_GRADS_CWB_2024-03-20_354113019, 655312-SH_GRADS_CWB_2024-03-20_354125880, 655311-SH_GRADS_CWB_2024-03-20_354189812, 655313-SH_GRADS_CWB_2024-03-20_354476398, 655316-SH_GRADS_CWB_2024-03-20_354483662, 655315-SH_GRADS_CWB_2024-03-20_354699775, 655314-SH_GRADS_CWB_2024-03-20_354746631, 655317-SH_GRADS_CWB_2024-03-20_354831281, 655318-SH_GRADS_CWB_2024-03-20_354835553, 655319-SH_GRADS_CWB_2024-03-20_355001990, 655320-SH_GRADS_CWB_2024-03-20_355071881, 655321-SH_GRADS_CWB_2024-03-20_355234426, 655322-SH_GRADS_CWB_2024-03-20_355321848, 655323-SH_GRADS_CWB_2024-03-20_355459317, 655324-SH_GRADS_CWB_2024-03-20_355506716, 655325-SH_GRADS_CWB_2024-03-20_355603437, 655326-SH_GRADS_CWB_2024-03-20_355630730, 655327-SH_GRADS_CWB_2024-03-20_355647660, 655329-SH_GRADS_CWB_2024-03-20_355708784, 655328-SH_GRADS_CWB_2024-03-20_355750529, 655330-SH_GRADS_CWB_2024-03-20_355755445, 655331-SH_GRADS_CWB_2024-03-20_355774149, 655332-SH_GRADS_

In [120]:
sgt = [(int(x[:6]),x[7:]) for x in list(map(str.strip, response.text[32:].strip('][').replace('"', '').split(',')))]

In [121]:
for i in global_offer_csv.offer_name:
    for j,z in sgt:
        if z==i:
            global_offer_csv.loc[global_offer_csv.offer_name == i, ('customer_segment_id')] = j
            break

In [122]:
global_offer_csv.head()

,offer_name,offer_description,discount,automatically_consider_offer,start_date,end_date,max_uses_per_order,max_uses_per_customer,customer_segment_id,sku_id,segment_behaviour,offer_type,supplier_discount
0,SH_GRADS_CWB_2024-03-20_110371528,None,10.87,true,20-03-2024,22-03-2024,120,2,653457,363165#578143#363213#391139#385404#637967#453384,INCLUDED,SUPER_HOOK,0
1,SH_GRADS_CWB_2024-03-20_110530410,None,13.00,true,20-03-2024,22-03-2024,120,2,653458,369891#649881#368392#363179#583749#363203#3631...,INCLUDED,SUPER_HOOK,0
2,SH_GRADS_CWB_2024-03-20_110587542,None,7.56,true,20-03-2024,22-03-2024,120,2,653461,370809#370856#421313#370915#391139,INCLUDED,SUPER_HOOK,0
3,SH_GRADS_CWB_2024-03-20_110974782,None,12.68,true,20-03-2024,22-03-2024,120,2,653462,623189#385443#371317#363165#477628#363213#363253,INCLUDED,SUPER_HOOK,0
4,SH_GRADS_CWB_2024-03-20_111735559,None,13.00,true,20-03-2024,22-03-2024,120,2,653460,363304#363195#363141#363203#424298#363273#645649,INCLUDED,SUPER_HOOK,0

In [123]:
#//--------------------------------------------
#//Exporting single file data
global_offer_csv.to_csv(f'{todays_date}_SH_FARMING_{city}_OFFER_csv.csv', index = False)

In [124]:
#result_df.to_excel(f'SD/export_data/Below_Media/{city}/{todays_date}_SH_RESULTS_FARMING_{city}_OFFER_csv.xlsx', index = False)