In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("Q1.csv")

In [3]:
df

     customer_id    gmv_usd  net_cash_margin
0      202473905  8356.5452       390.100243
1      155922500   212.8821        13.145683
2      354916976  1181.1915        73.911877
3       44586805  4230.8021       184.911437
4      349515504   275.3157         1.142285
..           ...        ...              ...
540    224671763  2116.5768       175.906581
541    162922751  7929.1642       369.705210
542    102978182  2800.2926       241.021184
543    136307530  3568.9629       314.197218
544    125455550  2474.8385       221.443599

[545 rows x 3 columns]

In [4]:
def create_groups(offer):
    
    #customers = offer.customer_id.unique()
    customers = offer.customer_id.unique()
    print("Total length: ", len(customers))
    customer_control, customer_test = train_test_split(customers, test_size = 0.50)
    
    alpha=0.01
    aux=0
    while (abs(1 - (offer[offer.customer_id.isin(customer_control)]['gmv_usd'].sum() / offer[offer.customer_id.isin(customer_test)]['gmv_usd'].sum())) > alpha) and (abs(1 - (offer[offer.customer_id.isin(customer_control)]['net_cash_margin'].sum() / offer[offer.customer_id.isin(customer_test)]['net_cash_margin'].sum())) > alpha):
    
        customer_control, customer_test = train_test_split(customers, test_size = 0.50)
        
        aux+=1
        if aux == 1000:
            alpha+=0.01
            aux=0
        
    return customer_control.tolist(), customer_test.tolist()

In [5]:
customer_control,customer_test = create_groups(df)

Total length:  545

In [6]:
# Add "group" column based on customer_id
df['group'] = 'none'  # Initialize the group column with a default value

# Mark customers in the control list as 'control' in the 'group' column
df.loc[df['customer_id'].isin(customer_control), 'group'] = 'control'

# Mark customers in the test list as 'test' in the 'group' column
df.loc[df['customer_id'].isin(customer_test), 'group'] = 'test'

In [7]:
df.to_excel("Q1_group.xlsx",index=False)