In [260]:
#//----------------------------
#//LIBRARIES
    #Math
import math
    #Numeric Python
import numpy as np
    #Pandas (dataframes)
import pandas as pd
    #datetime for fate manipulation
from datetime import date, datetime, timedelta  
    #Regex for advanced string matching
import re
    #for time related stuff
import time
    #json library
import json
    #Analyst tools
import sys
sys.path.append('../')
from analysts_tools.growth import *
    #Procurement tools
from procurement_lib import send_slack_notification
from procurement_lib import redash
from analysts_tools.redash_methods import *

import random
import time
import datetime

import seaborn as sns
import matplotlib.pyplot as plt


from sklearn.model_selection import train_test_split
from scipy.signal import savgol_filter

# Cargue de Queries y parametros

In [261]:
city = 'BOG'
customer_date_desde = (datetime.datetime.today() - datetime.timedelta(days=200))#.strftime('%Y-%m-%d') #1 months

In [262]:
margenes = pd.read_csv("Margenes_neto.csv")
retention = pd.read_csv("retention_year.csv")

In [263]:
retention_aux =  retention.copy()

for i,ret in enumerate(retention_aux.values):
    retention_aux.iloc[i,2:] = [(1-(j-ret[-1])/100) if j-ret[-1] >= 0 else 1 for j in ret[2:]]

In [264]:
clear_buyers = get_fresh_query_result("https://internal-redash.federate.frubana.com/",138674,'SeoGHWmDUaaBi7VXje1s9zYNiMD1VHQ1K1DYOxiF',{},20)

200

In [265]:
query = """
SELECT DISTINCT

c.assignee_ref_id AS "Owner",
cm.member_ref_id AS "customer_id",
--cm.status AS "Estado de la asignacion",
--c.type as "Tipo de asociacion",
--c.flow_type AS "Tipo de carga",
z.value AS "Ciudad"
--p.since AS "Semana"

FROM postgres_growth_offline."growth_clustering.clusters"               c
INNER JOIN postgres_growth_offline."growth_clustering.cluster_members"  cm  ON cm.cluster_id = c.id
INNER JOIN postgres_growth_offline."growth_clustering.periods"          p   ON p.id = c.period_id
INNER JOIN postgres_growth_offline."growth_clustering.zones"            z   ON z.id = c.zone_id

where p.since = DATE_TRUNC('week', date(getdate()) - interval '0 week')
and z.value in ('BOG','BAQ','MDE','CMX','SPO','BHZ','CWB','VCP')
and c.type = 'FARMER_OFFLINE'
and c.status = 'ACTIVE'
and c.enabled = 'true'
"""
data_farming = read_connection_data_warehouse.runQuery(query)
data_farming[["customer_id"]] = data_farming[["customer_id"]].astype(int)

In [266]:
query = """
-- 93058
-- Se toma como base el query 2718
WITH 
ful AS (

SELECT DISTINCT
    bo.order_id,
    bo.submit_date
    
FROM postgres_broadleaf_federate."broadleaf.blc_order" bo
INNER JOIN postgres_broadleaf_federate."broadleaf.blc_fulfillment_group" bfg        ON bfg.order_id = bo.order_id
INNER JOIN postgres_broadleaf_federate."broadleaf.blc_fulfillment_order" bfo        ON bfo.fulfillment_group_id = bfg.fulfillment_group_id
INNER JOIN postgres_broadleaf_federate."broadleaf.fb_fulfillment_group" ffg         ON ffg.fulfillment_group_id = bfg.fulfillment_group_id
INNER JOIN postgres_broadleaf_federate."broadleaf.fb_order" fo                      ON fo.order_id = bo.order_id
INNER JOIN postgres_broadleaf_federate."broadleaf.blc_order_payment" bop            ON bop.order_id = bo.order_id
INNER JOIN postgres_broadleaf_federate."broadleaf.blc_site" s                       ON s.site_id = bo.site_disc
LEFT JOIN  postgres_broadleaf_federate."broadleaf.fb_order_type" fot                ON fot.fb_order_type_id=fo.fb_order_type_id
LEFT JOIN  postgres_broadleaf_federate."broadleaf.blc_order_adjustment" ba          ON ba.order_id = bo.order_id

WHERE fo.fb_order_status_id IN (1,6,7,8)
    --AND extract(year from bo.submit_date::date) = 2021
    --AND extract(month from bo.submit_date::date) = 6--2021
    AND bo.order_status = 'SUBMITTED'
    AND bfo.status NOT IN ('ARCHIVED','CANCELLED')
    AND bop.archived = 'N'
    AND (fot.name IS NULL OR fot.name <> 'REFUND')
    AND s.site_identifier_value = '{city}' --NOT IN ('MTY','PBC','GDL')
    AND bo.customer_id IN {clientes}
GROUP BY bo.order_id, bo.submit_date
)--,

--more AS (
SELECT DISTINCT
    s.site_identifier_value AS city,
    bo.customer_id,
    DATE(bo.submit_date) AS submit_date,
    bo.order_id,
    bs.addl_product_id AS padre_sku_id,
    CASE
    WHEN bcat2.name = 'Abarrotes & Despensa' THEN 'Abarrotes'
    ELSE bcat2.name END AS cat,
    --bcat.name AS subcat,
    --bs2.name,
    CASE 
        WHEN s.site_identifier_value = 'CMX' then (boi.quantity * foi.step_unit * boi.sale_price)*1.0/19.65
        WHEN s.site_identifier_value = 'GDL' then (boi.quantity * foi.step_unit * boi.sale_price)*1.0/19.65
        WHEN s.site_identifier_value = 'PBC' then (boi.quantity * foi.step_unit * boi.sale_price)*1.0/19.65
        WHEN s.site_identifier_value = 'MTY' then (boi.quantity * foi.step_unit * boi.sale_price)*1.0/19.65
        WHEN s.site_identifier_value = 'SPO' then (boi.quantity * foi.step_unit * boi.sale_price)*1.0/4.75
        WHEN s.site_identifier_value = 'BHZ' then (boi.quantity * foi.step_unit * boi.sale_price)*1.0/4.75
        WHEN s.site_identifier_value = 'CWB' then (boi.quantity * foi.step_unit * boi.sale_price)*1.0/4.75
        WHEN s.site_identifier_value = 'VCP' then (boi.quantity * foi.step_unit * boi.sale_price)*1.0/4.75
    ELSE (boi.quantity * foi.step_unit * boi.sale_price)*1.0/3776 END AS gmv_usd,    
    -- CASE 
    --     WHEN s.site_identifier_value = 'CMX' then (boida.adjustment_value * boipd.quantity * foi.step_unit)*1.0/19.65
    --     WHEN s.site_identifier_value = 'GDL' then (boida.adjustment_value * boipd.quantity * foi.step_unit)*1.0/19.65
    --     WHEN s.site_identifier_value = 'PBC' then (boida.adjustment_value * boipd.quantity * foi.step_unit)*1.0/19.65
    --     WHEN s.site_identifier_value = 'MTY' then (boida.adjustment_value * boipd.quantity * foi.step_unit)*1.0/19.65
    --     WHEN s.site_identifier_value = 'SPO' then (boida.adjustment_value * boipd.quantity * foi.step_unit)*1.0/4.75
    --     WHEN s.site_identifier_value = 'BHZ' then (boida.adjustment_value * boipd.quantity * foi.step_unit)*1.0/4.75
    --     WHEN s.site_identifier_value = 'CWB' then (boida.adjustment_value * boipd.quantity * foi.step_unit)*1.0/4.75
    --     WHEN s.site_identifier_value = 'VCP' then (boida.adjustment_value * boipd.quantity * foi.step_unit)*1.0/4.75
    -- ELSE (boida.adjustment_value * boipd.quantity * foi.step_unit)*1.0/3776 END AS discount_usd,
    (boi.quantity*foi.step_unit) AS cant

FROM postgres_broadleaf_federate."broadleaf.blc_order" bo
INNER JOIN postgres_broadleaf_federate."broadleaf.blc_site"                     s       ON s.site_id = bo.site_disc
INNER JOIN postgres_broadleaf_federate."broadleaf.blc_order_item"               boi     ON boi.order_id=bo.order_id
INNER JOIN postgres_broadleaf_federate."broadleaf.fb_order_item"                foi     ON boi.order_item_id= foi.order_item_id
INNER JOIN postgres_broadleaf_federate."broadleaf.fb_order"                     fo      ON fo.order_id = bo.order_id
INNER JOIN ful                                                                          ON ful.order_id = bo.order_id
INNER JOIN postgres_broadleaf_federate."broadleaf.blc_discrete_order_item"      bdoi    ON bdoi.order_item_id = boi.order_item_id
INNER JOIN postgres_broadleaf_federate."broadleaf.blc_sku"                      bs      ON bs.sku_id = bdoi.sku_id
INNER JOIN postgres_broadleaf_federate."broadleaf.blc_product"                  bp      ON bs.addl_product_id = bp.product_id
INNER JOIN postgres_broadleaf_federate."broadleaf.blc_sku"                      bs2     ON bs2.sku_id = bp.default_sku_id --Conectar la tarjeta con el sku que guarda la info
INNER JOIN postgres_broadleaf_federate."broadleaf.blc_category"                 bcat    ON bcat.category_id = bp.default_category_id 
INNER JOIN postgres_broadleaf_federate."broadleaf.blc_category_xref"            bcx     ON bcx.sub_category_id = bp.default_category_id AND bcx.archived='N' AND bcx.sndbx_tier is NULL
INNER JOIN postgres_broadleaf_federate."broadleaf.blc_category"                 bcat2   ON bcx.category_id = bcat2.category_id
LEFT JOIN postgres_broadleaf_federate."broadleaf.blc_order_item_price_dtl"      boipd   ON boipd.order_item_id=boi.order_item_id
LEFT JOIN postgres_broadleaf_federate."broadleaf.blc_order_item_dtl_adj"        boida   ON boida.order_item_price_dtl_id=boipd.order_item_price_dtl_id

WHERE fb_order_status_id IN (1,6,7,8)
    AND bo.order_status = 'SUBMITTED'
   -- FIX SUPER DESCUENTOS
    AND bcat2.category_id not in ('110873','-1000','100768','100765','100815') --ids de super descuentos en cada país
    AND bcat.name <> 'Oferton Frubana' AND bcat2.name <> 'Oferton Frubana'
""".format(clientes=tuple(set(clear_buyers[clear_buyers.registered_city == city].customer_id.unique())), city = city)

data_ventas_aux = read_connection_data_warehouse.runQuery(query)
data_ventas_aux[["gmv_usd", "cant"]] = data_ventas_aux[["gmv_usd", "cant"]].astype(float)
data_ventas_aux['submit_date'] = pd.to_datetime(data_ventas_aux['submit_date'])

In [267]:
check_df = data_ventas_aux.groupby(by=['customer_id']).agg({'submit_date':np.max}).reset_index()
df = data_ventas_aux[data_ventas_aux.customer_id.isin(check_df[check_df.submit_date >= customer_date_desde].customer_id.unique())].groupby(by=['city', 'customer_id', 'submit_date','cat']).agg({'gmv_usd':'sum','cant':'sum'}).reset_index()

In [268]:
#df_ENAE = data_ventas_aux[['city','customer_id','submit_date','order_id', 'gmv_usd']].groupby(by=['city','customer_id','submit_date','order_id'])['gmv_usd'].sum().reset_index()
#df_ENAE.to_csv("info_ENAE.csv", index=False)

# Generacion de df con info by cat by client

In [269]:
df = df.sort_values('submit_date',ignore_index=True)

#fix for id problems and taking into account only dates
df['order_id']= df.submit_date.apply(lambda x:x.toordinal()) 

#Days of difference between orders for customer and for cat
df['days_bet'] = (df.submit_date -df.groupby('customer_id').submit_date.transform('min')).dt.days

In [270]:
#This calculate in res the difference between consecutive orders and with the agg we calculate all metrics
df['res'] = df.groupby(by=['customer_id', 'cat'])['days_bet'].diff()
df_grouped = df.groupby(by=['city', 'customer_id', 'cat']).agg({'res': [np.min, np.max, np.mean, np.median, np.std],
                                                                    'order_id': [lambda x: x.nunique()], 
                                                                    'gmv_usd': [np.mean],
                                                                    'cant': [np.mean],
                                                                    'submit_date': [np.max, lambda x: (x.max()-x.min()).days, lambda x: (datetime.datetime.today() - x.max()).days, np.min]
                                                                    }).reset_index()

In [271]:
#Finally we define everything in a df2 for further processing
df2 = df_grouped.copy()

df2.columns = ['city', 'customer_id', 'cat', 'min_diff_days', 'max_diff_days', 'avg_diff_days', 'median_diff_days', 'stdev_diff_days',
               'num_orders', 'aov_cat_usd', 'avg_cant_cat', 'last_order_date', 'diff_from_last_to_first_order', 'days_since_last_order','first_order_date']

In [272]:
def diff_month(d1, d2):
    return (d1.year - d2.year) * 12 + d1.month - d2.month

In [273]:
def cat_metrics_2(cat):
    df_cat = df2[df2.cat == cat].copy()
    
    df_cat['adjust_std'] = pd.qcut(df_cat.stdev_diff_days, 10, labels=[1,0.9,0.8,0.7,0.6,0.5,0.4,0.3,0.2,0.1])
    df_cat[["adjust_std"]] = df_cat[["adjust_std"]].astype(float)
    
    df_cat['adjust_cohort'] = [1 if ((x[13]) - (x[5]+x[7]) <= 0) else  
                 1/(((x[13]) - x[5])/x[7]) if x[7] != 0 else
                 1/(((x[13]) - x[5])/np.round(1+(x[5]*0.7)))
                 for x in df_cat.values]
    
    df_cat["margen"] = [margenes[(margenes.category == x[2]) & (margenes.region_code == x[0])]["net_margin"].unique()[0]/100 for x in df_cat.values]
    #mirar aca
    df_cat['adjust_retention'] = [1 if diff_month(x[11],x[14])+1 >= 10 else 
                                  retention_aux[(retention_aux.category == x[2]) & (retention_aux.region_code == x[0])][str(diff_month(x[11],x[14])+1)].unique()[0] for x in df_cat.values]
    
    df_cat['median_diff_days_adjusted'] = 365/df_cat.median_diff_days
    
    df_cat["churned"] = [0 if ((x[13]) - (x[5]+x[7]*2) <= 0) else 1 for x in df_cat.values]
    
    df_cat[['avg_diff_days','stdev_diff_days']] = df_cat[['avg_diff_days','stdev_diff_days']].fillna(0)

    df_cat['churned_date'] = [(x[11] + datetime.timedelta(days=int(x[5]+x[7]*2))).strftime('%Y-%m-%d') for x in df_cat.values] #1 months
    
    df_cat["CLTV"] = df_cat.median_diff_days_adjusted * df_cat.margen * df_cat.aov_cat_usd * df_cat.adjust_retention * df_cat.adjust_std * df_cat.adjust_cohort
    df_cat["CLTV_sin_margen"] = df_cat.median_diff_days_adjusted * df_cat.aov_cat_usd * df_cat.adjust_retention * df_cat.adjust_std * df_cat.adjust_cohort
    df_cat["CLTV_sin_churn"] = df_cat.median_diff_days_adjusted * df_cat.margen * df_cat.aov_cat_usd * df_cat.adjust_retention * df_cat.adjust_std
    
    df_cat['cash_margin'] = df_cat.aov_cat_usd * df_cat.margen

    return df_cat

In [274]:
#df2['cat'] = df2['cat'].str.replace('Abarrotes & Despensa', 'Abarrotes')

In [275]:
df3 = pd.DataFrame()

for cat in df2.cat.unique():
   print(cat)
   if cat not in ('Mesa & Cocina','Insumos Internos Cat','Despensa'):
      df3 = df3.append(cat_metrics_2(cat))
   print(f'Done {cat}')

Abarrotes
Done Abarrotes
Aseo e Higiene
Done Aseo e Higiene
Carne, Pollo & Pescados
Done Carne, Pollo & Pescados
Despensa
Done Despensa
Frutas & Verduras
Done Frutas & Verduras
Lácteos & Huevos
Done Lácteos & Huevos
Bebidas
Done Bebidas
Congelados
Done Congelados
Desechables
Done Desechables
Mesa & Cocina
Done Mesa & Cocina
Insumos Internos Cat
Done Insumos Internos Cat

In [276]:
df3.head(10)

,city,customer_id,cat,min_diff_days,max_diff_days,avg_diff_days,median_diff_days,stdev_diff_days,num_orders,aov_cat_usd,...,adjust_cohort,margen,adjust_retention,median_diff_days_adjusted,churned,churned_date,CLTV,CLTV_sin_margen,CLTV_sin_churn,cash_margin
0,BOG,-255070,Abarrotes,19.0,211.0,69.250000,23.5,94.524688,5,2.913983,...,0.130604,0.076,1.0,15.531915,1,2021-12-20,0.044924,0.591111,0.343974,0.221463
6,BOG,-255038,Abarrotes,1.0,152.0,5.893805,3.0,16.261459,114,16.431735,...,1.000000,0.076,1.0,121.666667,0,2023-07-16,75.969389,999.597223,75.969389,1.248812
15,BOG,-255037,Abarrotes,1.0,401.0,14.437500,6.0,44.655597,97,45.544252,...,1.000000,0.076,1.0,60.833333,0,2023-09-15,42.113251,554.121727,42.113251,3.461363
24,BOG,-254992,Abarrotes,2.0,266.0,18.385714,9.5,32.591140,71,16.780476,...,1.000000,0.076,1.0,38.421053,0,2023-08-15,14.699697,193.417068,14.699697,1.275316
32,BOG,-254982,Abarrotes,3.0,78.0,14.083333,9.0,15.026859,61,45.726670,...,1.000000,0.076,1.0,40.555556,0,2023-07-13,84.563855,1112.682308,84.563855,3.475227
40,BOG,-254971,Abarrotes,4.0,142.0,16.603448,8.0,24.749935,59,43.440808,...,1.000000,0.076,1.0,45.625000,0,2023-08-11,60.252400,792.794743,60.252400,3.301501
49,BOG,-254964,Abarrotes,1.0,292.0,11.587719,5.0,32.627100,115,20.146315,...,1.000000,0.076,1.0,73.000000,0,2023-08-20,33.531526,441.204292,33.531526,1.531120
57,BOG,-254914,Abarrotes,4.0,154.0,27.833333,22.0,28.156286,43,23.134645,...,1.000000,0.076,1.0,16.590909,0,2023-08-04,8.751205,115.147436,8.751205,1.758233
60,BOG,-254904,Abarrotes,1.0,40.0,2.403361,2.0,3.685334,120,7.260325,...,1.000000,0.076,1.0,182.500000,0,2023-06-16,100.700712,1325.009368,100.700712,0.551785
70,BOG,-254847,Abarrotes,24.0,452.0,100.166667,35.5,137.591512,13,15.415743,...,1.000000,0.076,1.0,10.281690,0,2023-12-12,1.204599,15.849989,1.204599,1.171596

# Aca empieza el analisis global by customer

In [277]:
#Here, i group the df3 (the df with the whole info by cat to customer lvl)
df_new3 = df3[['city','customer_id','aov_cat_usd','cash_margin','CLTV_sin_churn','churned']].groupby(by=['city','customer_id']).sum().reset_index()

In [278]:
#The processing data for customer level is made here

df_new = df.groupby(by=['city','customer_id','order_id','submit_date']).sum().reset_index()

df_new['days_bet'] = (df_new.submit_date -df_new.groupby('customer_id').submit_date.transform('min')).dt.days

#This calculate in res the difference between consecutive orders and with the agg we calculate all metrics
df_new['res'] = df_new.groupby(by=['customer_id'])['days_bet'].diff()
df_grouped_2 = df_new.groupby(by=['city', 'customer_id']).agg({'res': [np.min, np.max, np.mean, np.median, np.std],
                                                                    'order_id': [lambda x: x.nunique()], 
                                                                    'gmv_usd': [np.mean],
                                                                    'cant': [np.mean],
                                                                    'submit_date': [np.max, lambda x: (x.max()-x.min()).days, lambda x: (datetime.datetime.today() - x.max()).days, np.min]
                                                                    }).droplevel(0, axis="columns").reset_index()

In [279]:
#Finally we define everything in a df_new2 at level customer for further processing
df_new2 = df_grouped_2.copy()

df_new2.columns = ['city', 'customer_id', 'min_diff_days', 'max_diff_days', 'avg_diff_days', 'median_diff_days', 'stdev_diff_days',
               'num_orders', 'aov_ALL_usd', 'ALL_avg_cant', 'last_order_date', 'diff_from_last_to_first_order', 'days_since_last_order','first_order_date']

In [280]:
#Finally we calculate the next parameters and also integred with df_new3 where we can have the info grouped by customer about the category performance
df_new2["churned_ALL"] = [0 if ((x[12]) - (x[4]+x[6]*2) <= 0) else 1 for x in df_new2.values]

df_new2['adjust_std'] = pd.qcut(df_new2.stdev_diff_days, 10, labels=[1,0.9,0.8,0.7,0.6,0.5,0.4,0.3,0.2,0.1])
df_new2[["adjust_std"]] = df_new2[["adjust_std"]].astype(float)

df_new2['adjust_retention'] = [1 if diff_month(x[10],x[13])+1 >= 10 else 
                                retention_aux[(retention_aux.region_code == x[0])][str(diff_month(x[10],x[13])+1)].max() for x in df_new2.values]

df_new2['median_diff_days_adjusted'] = 365/df_new2.median_diff_days

#this merge is to include the info for the total cash_margin, how many cats is churned and the total cat CLTV
df_new2 = df_new2.merge(df_new3[['customer_id','cash_margin','CLTV_sin_churn','churned']], on='customer_id', how='left')

In [281]:
#We calculate now the CLTV taking into account the global behavior of the customer
df_new2["ALL_CLTV_sin_churn"] = df_new2.median_diff_days_adjusted * df_new2.adjust_retention * df_new2.adjust_std * df_new2.cash_margin / 2
df_new2[['CLTV_sin_churn','ALL_CLTV_sin_churn']] = df_new2[['CLTV_sin_churn','ALL_CLTV_sin_churn']].fillna(0)

#df_new2["CLTV"] = df_new2.median_diff_days_adjusted * df_new2.margen * df_new2.aov_cat_usd * df_new2.adjust_retention * df_new2.adjust_std * df_new2.adjust_cohort
#df_new2["CLTV_sin_margen"] = df_new2.median_diff_days_adjusted * df_new2.aov_cat_usd * df_new2.adjust_retention * df_new2.adjust_std * df_new2.adjust_cohort

#If the Total Cat CLTV is NA because it is so few orders for each category, we create a Adjust_CLTV to include the global or ALL_CLTV_sin_churn instead of the NULL value
df_new2['Adjust_CLTV'] = [x[21] if x[19] == 0 else x[19] for x in df_new2.values]

print(df_new2.Adjust_CLTV.sum(),df_new2.CLTV_sin_churn.sum())

7009959.32288865 6983919.210072478

In [282]:
#Finally, we calculate the ALL_churned_date based on the general behavior of the customer
df_new2[['avg_diff_days','stdev_diff_days']] = df_new2[['avg_diff_days','stdev_diff_days']].fillna(0)
df_new2['ALL_churned_date'] = [(x[10] + datetime.timedelta(days=int(x[4]+x[6]*2))).strftime('%Y-%m-%d') for x in df_new2.values] #1 months

# Final processing of the file to export

In [283]:
#We will merge the df_new2 with the clear_buyers in order to filter by restaurants and take away kams (also to include the microsegment)
df_new2 = df_new2.merge(clear_buyers[clear_buyers.registered_city == city][['customer_id','business_type','microsegment_name','is_kam']], on='customer_id', how='left')
df_new2_end = df_new2[(df_new2.is_kam == 0)].copy() #df_new2[(df_new2.business_type == 'Restaurante') & (df_new2.is_kam == 0)].copy()

In [284]:
#This cell is to calculate the cumulative sum to create the tiers further
df_new2_end = df_new2_end.sort_values(['Adjust_CLTV'], ascending=[False])
df_new2_end['cumsum'] = df_new2_end.groupby('city')['Adjust_CLTV'].cumsum()
df_new2_end['run_pct'] = df_new2_end.groupby('city')['Adjust_CLTV'].apply(lambda x: (x/x.sum()).cumsum())

In [285]:
#This conditional create the tiers
df_new2_end['tier'] = ['A' if x <= 0.1 else
                       'B' if x <= 0.2 else
                       'C' if x <= 0.3 else
                       'D' if x <= 0.4 else
                       'E' if x <= 0.5 else
                       'F' if x <= 0.6 else
                       'G' if x <= 0.7 else
                       'H' if x <= 0.8 else
                       'I' if x <= 0.9 else
                       'J' for x in df_new2_end.run_pct.values]

In [286]:
df_new2_end.tier.value_counts()

J    13970
I     3926
H     2687
G     1981
F     1508
E     1157
D      870
C      638
B      412
A      186
Name: tier, dtype: int64

In [287]:
df_new2_end.rename(columns={'num_orders': 'ALL_num_orders', 'CLTV_sin_churn': 'TOTAL_CAT_CLTV_sin_churn'}, inplace=True)

# df3 = df3[['city', 'customer_id', 'cat', 'min_diff_days', 'max_diff_days', 'avg_diff_days', 'median_diff_days', 'stdev_diff_days', 'num_orders',
#        'aov_cat_usd','last_order_date', 'diff_from_last_to_first_order', 'days_since_last_order',
#        'first_order_date', 'adjust_std', 'adjust_cohort','adjust_retention', 
#        'median_diff_days_adjusted', 'churned', 'churned_date','CLTV_sin_churn']].copy()

df3.rename(columns={'num_orders': 'num_orders_cat', 'churned': 'churned_cat','CLTV_sin_churn':'CAT_CLTV_sin_churn'}, inplace=True)

In [288]:
df_new2_end.columns

Index(['city', 'customer_id', 'min_diff_days', 'max_diff_days',
       'avg_diff_days', 'median_diff_days', 'stdev_diff_days',
       'ALL_num_orders', 'aov_ALL_usd', 'ALL_avg_cant', 'last_order_date',
       'diff_from_last_to_first_order', 'days_since_last_order',
       'first_order_date', 'churned_ALL', 'adjust_std', 'adjust_retention',
       'median_diff_days_adjusted', 'cash_margin', 'TOTAL_CAT_CLTV_sin_churn',
       'churned', 'ALL_CLTV_sin_churn', 'Adjust_CLTV', 'ALL_churned_date',
       'business_type', 'microsegment_name', 'is_kam', 'cumsum', 'run_pct',
       'tier'],
      dtype='object')

In [289]:
#We merge with data_farming so we get the info farming for each customer
df_new2_end = df_new2_end[['customer_id','ALL_num_orders', 'aov_ALL_usd', 'churned_ALL', 'ALL_churned_date','TOTAL_CAT_CLTV_sin_churn',
       'ALL_CLTV_sin_churn', 'Adjust_CLTV','tier', 'microsegment_name', 'business_type', 'is_kam']].merge(data_farming[data_farming.ciudad == city][['customer_id','owner']], on='customer_id', how='left')
df_new2_end[['owner']] = df_new2_end[['owner']].fillna('No Farming')

In [290]:
df_new2_end.rename(columns={'num_orders': 'ALL_num_orders', 'CLTV_sin_churn': 'TOTAL_CAT_CLTV_sin_churn'}, inplace=True)

# df3 = df3[['city', 'customer_id', 'cat', 'min_diff_days', 'max_diff_days', 'avg_diff_days', 'median_diff_days', 'stdev_diff_days', 'num_orders',
#        'aov_cat_usd','last_order_date', 'diff_from_last_to_first_order', 'days_since_last_order',
#        'first_order_date', 'adjust_std', 'adjust_cohort','adjust_retention', 
#        'median_diff_days_adjusted', 'churned', 'churned_date','CLTV_sin_churn']].copy()

df3.rename(columns={'num_orders': 'num_orders_cat', 'churned': 'churned_cat','CLTV_sin_churn':'CAT_CLTV_sin_churn'}, inplace=True)

In [291]:
df_final = df3[['city', 'customer_id', 'cat', 'min_diff_days', 'max_diff_days', 'avg_diff_days', 'median_diff_days', 'stdev_diff_days', 'num_orders_cat',
       'aov_cat_usd','last_order_date', 'diff_from_last_to_first_order', 'days_since_last_order',
       'first_order_date', 'adjust_std', 'adjust_cohort','adjust_retention', 
       'median_diff_days_adjusted', 'churned_cat', 'churned_date','CAT_CLTV_sin_churn']].merge(df_new2_end, on='customer_id', how='inner')

In [292]:
df_final.head(10)

,city,customer_id,cat,min_diff_days,max_diff_days,avg_diff_days,median_diff_days,stdev_diff_days,num_orders_cat,aov_cat_usd,...,churned_ALL,ALL_churned_date,TOTAL_CAT_CLTV_sin_churn,ALL_CLTV_sin_churn,Adjust_CLTV,tier,microsegment_name,business_type,is_kam,owner
0,BOG,-255070,Abarrotes,19.0,211.0,69.250000,23.5,94.524688,5,2.913983,...,0,2023-11-30,18.799587,4.034567,18.799587,J,None,Hogar,False,No Farming
1,BOG,-255070,Aseo e Higiene,55.0,99.0,74.750000,72.5,22.126530,5,5.930297,...,0,2023-11-30,18.799587,4.034567,18.799587,J,None,Hogar,False,No Farming
2,BOG,-255070,"Carne, Pollo & Pescados",20.0,333.0,53.894737,36.0,68.806407,20,28.513838,...,0,2023-11-30,18.799587,4.034567,18.799587,J,None,Hogar,False,No Farming
3,BOG,-255070,Frutas & Verduras,19.0,333.0,50.045455,35.0,64.520559,23,17.293991,...,0,2023-11-30,18.799587,4.034567,18.799587,J,None,Hogar,False,No Farming
4,BOG,-255070,Lácteos & Huevos,19.0,456.0,64.764706,32.0,103.097969,18,7.475708,...,0,2023-11-30,18.799587,4.034567,18.799587,J,None,Hogar,False,No Farming
5,BOG,-255038,Abarrotes,1.0,152.0,5.893805,3.0,16.261459,114,16.431735,...,0,2023-06-20,1469.273080,1079.022287,1469.273080,B,Comida Rápida,Restaurante,False,No Farming
6,BOG,-255038,Aseo e Higiene,8.0,124.0,32.375000,21.5,29.298180,17,6.329371,...,0,2023-06-20,1469.273080,1079.022287,1469.273080,B,Comida Rápida,Restaurante,False,No Farming
7,BOG,-255038,"Carne, Pollo & Pescados",1.0,110.0,5.481928,3.0,13.160697,84,29.947557,...,0,2023-06-20,1469.273080,1079.022287,1469.273080,B,Comida Rápida,Restaurante,False,No Farming
8,BOG,-255038,Frutas & Verduras,1.0,62.0,3.000000,2.0,5.060717,223,30.086181,...,0,2023-06-20,1469.273080,1079.022287,1469.273080,B,Comida Rápida,Restaurante,False,No Farming
9,BOG,-255038,Lácteos & Huevos,2.0,51.0,17.333333,11.0,16.740443,13,10.247474,...,0,2023-06-20,1469.273080,1079.022287,1469.273080,B,Comida Rápida,Restaurante,False,No Farming

In [293]:
df_final.to_excel(f"CLTV_{city}.xlsx",index=False)

# Info for SAC team

In [294]:
df_SAC = df_final[['city','customer_id','tier','Adjust_CLTV']].drop_duplicates()

In [295]:
letter_to_number = {'A': 1, 'B': 2, 'C': 3, 'D': 4, 'E': 5, 'F': 6, 'G': 7, 'H': 8, 'I': 9, 'J': 10}
df_SAC['tier'] = df_SAC['tier'].map(letter_to_number)

In [296]:
df_SAC.to_csv(f"{city}_SAC_tiers.csv",index=False)