In [26]:
#//----------------------------
#//LIBRARIES
    #Math
import math
    #Numeric Python
import numpy as np
    #Pandas (dataframes)
import pandas as pd
    #datetime for fate manipulation
from datetime import date, datetime, timedelta  
    #Regex for advanced string matching
import re
    #for time related stuff
import time
    #json library
import json
    #Analyst tools
import sys
sys.path.append('../')
from analysts_tools.growth import *
    #Procurement tools
from procurement_lib import send_slack_notification
from procurement_lib import redash
from analysts_tools.redash_methods import *

import random
import time
import datetime

import seaborn as sns
import matplotlib.pyplot as plt


from sklearn.model_selection import train_test_split
from scipy.signal import savgol_filter

In [27]:
query="""
with parent as (select
			sku.sku_id as sku_id,
			po.name as product_option,
			pov.attribute_value as product_option_value_parent
		from
			postgres_broadleaf_federate."broadleaf.blc_sku" sku
			inner join postgres_broadleaf_federate."broadleaf.blc_sku_option_value_xref" x on sku.sku_id = x.sku_id
			inner join postgres_broadleaf_federate."broadleaf.blc_product_option_value" pov on x.product_option_value_id = pov.product_option_value_id
			inner join postgres_broadleaf_federate."broadleaf.blc_product_option" po on pov.product_option_id = po.product_option_id
			
		where
			sku.addl_product_id is not null
			and po.name ilike '%-Parent'
			and pov.attribute_value not ilike '%No Aplicable%'
			--and x.sndbx_archived_flag = 'N' and x.sndbx_deleted_flag = 'N' 
			and x.archived = 'N'
			and x.sndbx_id is null
			),
	child as ( select
			sku.sku_id as sku_id,
			po.name as product_option,
			pov.attribute_value as product_option_value_child
		from
			postgres_broadleaf_federate."broadleaf.blc_sku" sku
			inner join postgres_broadleaf_federate."broadleaf.blc_sku_option_value_xref" x on sku.sku_id = x.sku_id
			inner join postgres_broadleaf_federate."broadleaf.blc_product_option_value" pov on x.product_option_value_id = pov.product_option_value_id
			inner join postgres_broadleaf_federate."broadleaf.blc_product_option" po on pov.product_option_id = po.product_option_id
		where
			sku.addl_product_id is not null
			and po.name not ilike '%-Parent'
			and pov.attribute_value not ilike '%No Aplicable%'
			--and x.sndbx_archived_flag = 'N' and x.sndbx_deleted_flag = 'N' 
			and x.archived = 'N'
			and x.sndbx_id is null
	    )
	    
select distinct 
split_part(bs.upc, '-',1) as region
,bs.sku_id
,bs.date_created fecha_creacion
,split_part(bs.upc, ':',4) as IdProd
,bs.addl_product_id as ID_Tarjeta
,bs.upc
,bp.default_category_id
,bcat2.name as categoria
,CASE
	WHEN bcat.name ILIKE 'Pollo%' THEN 'Pollo'
	WHEN bcat.name ILIKE 'Res%' THEN 'Res'
	WHEN bcat.name ILIKE 'Cerdo%' THEN 'Cerdo'
	ELSE bcat.name
END AS subcategoria
,fs.owner_id
,fow.name as owner_name
,fbb.name as marca
--bs.name, 
--product_option_value_parent, 
--product_option_value_child, 
,bs2.name as card_name
--,concat(bs2.name,' ', product_option_value_parent,' ' , product_option_value_child) as name
,upper(fp.unit) as unidad
,fp.iva
,fs.step_unit
,fs.min_weight_unit
,fs.conversion_type_x as Type_x
,fs.conversion_value_x as Val_x
,fs.conversion_type_y as Type_y
,fs.conversion_value_y as Val_y
,bs.weight as peso
,bs.weight_unit_of_measure as unidad_peso
,        CASE
            WHEN ((bs.active_end_date IS NULL OR bs.active_end_date > CURRENT_TIMESTAMP) AND (bs2.active_end_date IS NULL OR bs2.active_end_date > CURRENT_TIMESTAMP)) THEN 'on'
            ELSE 'off'
        END as status_frida

from postgres_broadleaf_federate."broadleaf.blc_sku" bs
left join postgres_broadleaf_federate."broadleaf.fb_sku" fs on fs.sku_id = bs.sku_id 
LEFT join child on child.sku_id = bs.sku_id
LEFT join parent on child.sku_id = parent.sku_id
LEFT join postgres_broadleaf_federate."broadleaf.blc_product" bp  on bp.product_id = bs.addl_product_id --Conectar sku con la tarjeta
LEFT JOIN postgres_broadleaf_federate."broadleaf.fb_product" fp on fp.product_id = bp.product_id
LEFT JOIN postgres_broadleaf_federate."broadleaf.fb_owner" fow on fow.owner_id = fs.owner_id
LEFT JOIN postgres_broadleaf_federate."broadleaf.blc_sku" bs2 on bs2.sku_id = bp.default_sku_id --Conectar la tarjeta con el sku que guarda la info
--LEFT JOIN postgres_broadleaf_federate."broadleaf.blc_product_attribute bpa on bpa.product_id = bp.product_id and bpa.name = 'Brand' and bpa.archived = 'N' and bpa.sndbx_tier is null
left join postgres_broadleaf_federate."broadleaf.blc_category_xref" bcx on bcx.sub_category_id = bp.default_category_id and bcx.archived='N' and bcx.sndbx_tier is null and default_reference = 'true' --Relaciones categorias 
left join postgres_broadleaf_federate."broadleaf.blc_category" bcat on bp.default_category_id = bcat.category_id --Nombre subcategoria
left join postgres_broadleaf_federate."broadleaf.blc_category" bcat2 on bcx.category_id = bcat2.category_id --Nombre categoria
left join postgres_broadleaf_federate."broadleaf.fb_brand" fbb on fbb.brand_id = fp.brand_id

where 
bs.archived = 'N'
and bs.sndbx_id is null
and bp.archived = 'N'
and bs.catalog_disc < 0
and ((bp.archived = 'N' and bp.sndbx_id is null) or (bp.archived is null))"""

frida_products = read_connection_data_warehouse.runQuery(query)

In [28]:
df_margen = get_fresh_query_result("https://internal-redash.federate.frubana.com/",144493,'SeoGHWmDUaaBi7VXje1s9zYNiMD1VHQ1K1DYOxiF',{},20)
df_margen = pd.merge(df_margen, frida_products,  how='left', left_on=['region','sku'], right_on = ['region','upc'])
df_margen[["gmv_value","cogs_value"]] = df_margen[["gmv_value","cogs_value"]].astype(float)

200

In [29]:
# calculate the profit margin by sku
df_margen2 = df_margen.groupby(by=['region','id_tarjeta']).apply(lambda x: (x['gmv_value'].sum() - x['cogs_value'].sum()) / x['gmv_value'].sum() if x['gmv_value'].sum() != 0 else 0).reset_index(name='GM')

# calculate the profit margin by subcategory
df_margen3 = df_margen.groupby(by=['region','subcategoria']).apply(lambda x: (x['gmv_value'].sum() - x['cogs_value'].sum()) / x['gmv_value'].sum()).reset_index(name='GM')

/home/jupyter-felipe.guevara/.local/lib/python3.7/site-packages/ipykernel_launcher.py:5: RuntimeWarning: invalid value encountered in double_scalars
  """

In [30]:
query = """
WITH exploded_data AS (
SELECT DISTINCT
    bs.site_identifier_value AS region_code,
    bo.offer_id,
    MAX(bcs.customer_segment_id) AS customer_segment_id_test,
    --bcs.customer_segment_name,
    MAX(bcs2.customer_segment_id) AS customer_segment_id_control,
    --bcs2.customer_segment_name,
    bo.offer_name AS discount,
    DATE(bo.start_date) AS start_date,
    DATE(bo.end_date) AS end_date,
    bo.offer_value::float as Value_Discount,
    replace(
        substring(
          boic.order_item_match_rule, 
          position('["' in boic.order_item_match_rule) + 2, 
          position('"]' in boic.order_item_match_rule) - position('["' in boic.order_item_match_rule) - 2
    ), '"', '') AS values_string
    
FROM postgres_broadleaf_federate."broadleaf.blc_offer"                          bo
LEFT JOIN postgres_broadleaf_federate."broadleaf.blc_offer_customer_seg_xref"   bocsx   ON (bo.offer_id = bocsx.offer_id AND ((bocsx.archived is NULL OR bocsx.archived='N')))
INNER JOIN postgres_broadleaf_federate."broadleaf.blc_tar_crit_offer_xref"      btcofx  ON (btcofx.offer_id = bo.offer_id)
INNER JOIN postgres_broadleaf_federate."broadleaf.blc_offer_item_criteria"      boic    ON (btcofx.offer_item_criteria_id = boic.offer_item_criteria_id and (boic.archived is null or boic.archived ='N'))
INNER JOIN postgres_broadleaf_federate."broadleaf.blc_site"                     bs      ON bs.site_id = bo.catalog_disc
INNER JOIN postgres_broadleaf_federate."broadleaf.blc_customer_segment"         bcs     ON bocsx.customer_segment_id = bcs.customer_segment_id AND bcs.customer_segment_name ILIKE '%piloto%'
INNER JOIN postgres_broadleaf_federate."broadleaf.blc_customer_segment"         bcs2    ON REPLACE(bcs.customer_segment_name, 'piloto', 'control') = bcs2.customer_segment_name 

WHERE offer_name ILIKE '%\_NB\_%'
    AND end_date >= DATE_TRUNC('month', date(getdate()) - interval '6 month')
    AND end_date < DATE_TRUNC('month', date(getdate()) - interval '5 month')
    AND bo.offer_discount_type = 'PERCENT_OFF'
    AND bo.offer_type = 'ORDER_ITEM'
    AND bo.sndbx_id is NULL
    AND (bo.archived is NULL OR bo.archived='N')
    AND (bo.sndbx_tier is NULL OR bo.sndbx_tier = 999999)
    AND bo.automatically_added = 'true'
    --AND bs.site_identifier_value = 'MDE'
GROUP BY 1,2,5,6,7,8,9
), 
 
number_series AS (
  SELECT 1 AS n UNION ALL SELECT 2 UNION ALL SELECT 3 UNION ALL SELECT 4 UNION ALL SELECT 5 UNION ALL SELECT 6 UNION ALL SELECT 7 UNION ALL SELECT 8 UNION ALL SELECT 9 UNION ALL SELECT 10
  UNION ALL SELECT 11 UNION ALL SELECT 12 UNION ALL SELECT 13 UNION ALL SELECT 14 UNION ALL SELECT 15 UNION ALL SELECT 16 UNION ALL SELECT 17 UNION ALL SELECT 18 UNION ALL SELECT 19 UNION ALL SELECT 20
  UNION ALL SELECT 21 UNION ALL SELECT 22 UNION ALL SELECT 23 UNION ALL SELECT 24 UNION ALL SELECT 25 UNION ALL SELECT 26 UNION ALL SELECT 27 UNION ALL SELECT 28 UNION ALL SELECT 29 UNION ALL SELECT 30
  UNION ALL SELECT 31 UNION ALL SELECT 32 UNION ALL SELECT 33 UNION ALL SELECT 34 UNION ALL SELECT 35 UNION ALL SELECT 36 UNION ALL SELECT 37 UNION ALL SELECT 38 UNION ALL SELECT 39 UNION ALL SELECT 40
  UNION ALL SELECT 41 UNION ALL SELECT 42 UNION ALL SELECT 43 UNION ALL SELECT 44 UNION ALL SELECT 45 UNION ALL SELECT 46 UNION ALL SELECT 47 UNION ALL SELECT 48 UNION ALL SELECT 49 UNION ALL SELECT 50
  UNION ALL SELECT 51 UNION ALL SELECT 52 UNION ALL SELECT 53 UNION ALL SELECT 54 UNION ALL SELECT 55 UNION ALL SELECT 56 UNION ALL SELECT 57 UNION ALL SELECT 58 UNION ALL SELECT 59 UNION ALL SELECT 60
  UNION ALL SELECT 61 UNION ALL SELECT 62 UNION ALL SELECT 63 UNION ALL SELECT 64 UNION ALL SELECT 65 UNION ALL SELECT 66 UNION ALL SELECT 67 UNION ALL SELECT 68 UNION ALL SELECT 69 UNION ALL SELECT 70
  UNION ALL SELECT 71 UNION ALL SELECT 72 UNION ALL SELECT 73 UNION ALL SELECT 74 UNION ALL SELECT 75 UNION ALL SELECT 76 UNION ALL SELECT 77 UNION ALL SELECT 78 UNION ALL SELECT 79 UNION ALL SELECT 80
  UNION ALL SELECT 81 UNION ALL SELECT 82 UNION ALL SELECT 83 UNION ALL SELECT 84 UNION ALL SELECT 85 UNION ALL SELECT 86 UNION ALL SELECT 87 UNION ALL SELECT 88 UNION ALL SELECT 89 UNION ALL SELECT 90
  UNION ALL SELECT 91 UNION ALL SELECT 92 UNION ALL SELECT 93 UNION ALL SELECT 94 UNION ALL SELECT 95 UNION ALL SELECT 96 UNION ALL SELECT 97 UNION ALL SELECT 98 UNION ALL SELECT 99 UNION ALL SELECT 100
)

SELECT DISTINCT
    ed.region_code,
    ed.offer_id,
    ed.customer_segment_id_test,
    ed.customer_segment_id_control,
    ed.discount,
    ed.start_date,
    ed.end_date,
    ed.value_discount,
    bs.addl_product_id AS card_id,
    bs2.name,
    bcat2.name AS cat,
    bcat.name as subcat
    
FROM exploded_data                                                                  ed
JOIN number_series                                                                  ns      ON ns.n <= regexp_count(ed.values_string, ',') + 1 AND trim(split_part(ed.values_string, ',', ns.n)) <> ''
INNER JOIN postgres_broadleaf_federate."broadleaf.blc_sku"                          bs      ON bs.sku_id = trim(split_part(ed.values_string, ',', ns.n))::int
INNER JOIN postgres_broadleaf_federate."broadleaf.blc_product"                      bp      ON bs.addl_product_id = bp.product_id
INNER JOIN postgres_broadleaf_federate."broadleaf.blc_sku"                          bs2     ON bs2.sku_id = bp.default_sku_id --Conectar la tarjeta con el sku que guarda la info
INNER JOIN postgres_broadleaf_federate."broadleaf.blc_category"                     bcat    ON bcat.category_id = bp.default_category_id 
INNER JOIN postgres_broadleaf_federate."broadleaf.blc_category_xref"                bcx     ON bcx.sub_category_id = bp.default_category_id AND bcx.archived='N' AND bcx.sndbx_tier is NULL
INNER JOIN postgres_broadleaf_federate."broadleaf.blc_category"                     bcat2   ON bcx.category_id = bcat2.category_id
--INNER JOIN postgres_broadleaf_federate."broadleaf.blc_customer_customer_seg_xref"   bcs     ON bo.customer_segment_id = bcs.customer_segment_id

WHERE
    -- FIX SUPER DESCUENTOS
    bcat2.category_id NOT IN ('110873','-1000','100768','100765','100815') --ids de super descuentos en cada país
    AND bcat.name <> 'Oferton Frubana' AND bcat2.name <> 'Oferton Frubana'
"""#.format(clientes=tuple(set(clear_buyers[clear_buyers.registered_city == city].customer_id.unique())), city = city)

df_offers = read_connection_data_warehouse.runQuery(query)
df_offers['start_date'] = pd.to_datetime(df_offers['start_date'])
df_offers['end_date'] = pd.to_datetime(df_offers['end_date'])

In [31]:
df_offers.head()

,region_code,offer_id,customer_segment_id_test,customer_segment_id_control,discount,start_date,end_date,value_discount,card_id,name,cat,subcat
0,SPO,-14468037,91695,91730,20221101_SPO_grillchurrascariaespetinho_piloto...,2022-11-01,2022-11-23,10.0,135711,Maionese Predilecta Sachê 144x7g,Mercearia,Condimentos
1,GDL,-14466001,89966,89994,20221101_GDL_other_piloto_NB_frutas_W44,2022-11-01,2022-11-30,18.0,179628,Piña Miel,Frutas & Verduras,Frutas
2,BAQ,-14466429,90266,90290,20221101_BAQ_comidaespecializada_piloto_NB_pap...,2022-11-01,2022-11-30,10.0,224615,Servilleta Popular x 330 und,Aseo e Higiene,Papel & Toallas
3,SPO,-14468113,91619,91658,20221101_SPO_boteco_piloto_NB_azeitesoleosevin...,2022-11-01,2022-11-23,6.0,293209,Óleo Vitaliv 900ml,Mercearia,"Azeites, Óleos e Vinagres"
4,VCP,-14466856,91018,91042,20221101_VCP_other_piloto_NB_azeitesoleosevina...,2022-11-01,2022-11-30,6.0,330762,Vinagre de Álcool Galo de Barcelos 750ml,Mercearia,"Azeites, Óleos e Vinagres"

In [32]:
df_offers.loc[df_offers.start_date == df_offers.start_date.max()].region_code.value_counts()

BOG    1720
SPO    1599
CMX    1363
BAQ     998
BHZ     170
CWB     150
GDL     125
PBC     119
VCP     104
MDE      88
Name: region_code, dtype: int64

In [33]:
df_offers_grouped = df_offers.groupby(by = ['region_code', 'offer_id', 'customer_segment_id_test',
       'customer_segment_id_control', 'discount', 'start_date', 'end_date',
       'value_discount']).agg({'card_id': lambda x: x.unique().tolist(), 'name': lambda x: x.unique().tolist()}).reset_index()

In [34]:
def customers_offer(grupo):
    query = """
    SELECT DISTINCT 
        bcs.customer_segment_id, 
        bcs.external_identifier::int AS customer_id
    FROM postgres_broadleaf_federate."broadleaf.blc_customer_customer_seg_xref" bcs
    WHERE bcs.customer_segment_id = {clientes}
    """.format(clientes=grupo)

    df_clients = read_connection_data_warehouse.runQuery(query)
    return df_clients.customer_id.unique()

In [35]:
query = """
-- 93058
-- Se toma como base el query 2718
WITH 
ful AS (

SELECT DISTINCT
    bo.order_id,
    bo.submit_date
    
FROM postgres_broadleaf_federate."broadleaf.blc_order" bo
INNER JOIN postgres_broadleaf_federate."broadleaf.blc_fulfillment_group" bfg        ON bfg.order_id = bo.order_id
INNER JOIN postgres_broadleaf_federate."broadleaf.blc_fulfillment_order" bfo        ON bfo.fulfillment_group_id = bfg.fulfillment_group_id
INNER JOIN postgres_broadleaf_federate."broadleaf.fb_fulfillment_group" ffg         ON ffg.fulfillment_group_id = bfg.fulfillment_group_id
INNER JOIN postgres_broadleaf_federate."broadleaf.fb_order" fo                      ON fo.order_id = bo.order_id
INNER JOIN postgres_broadleaf_federate."broadleaf.blc_order_payment" bop            ON bop.order_id = bo.order_id
INNER JOIN postgres_broadleaf_federate."broadleaf.blc_site" s                       ON s.site_id = bo.site_disc
LEFT JOIN  postgres_broadleaf_federate."broadleaf.fb_order_type" fot                ON fot.fb_order_type_id=fo.fb_order_type_id
LEFT JOIN  postgres_broadleaf_federate."broadleaf.blc_order_adjustment" ba          ON ba.order_id = bo.order_id

WHERE fo.fb_order_status_id IN (1,6,7,8)
    --AND bo.submit_date >= DATE_TRUNC('year', date(getdate()) - interval '0 year')
    AND bo.submit_date >= DATE_TRUNC('month', date(getdate()) - interval '6 month')
    AND bo.submit_date < DATE_TRUNC('month', date(getdate()) - interval '5 month')
    AND bo.order_status = 'SUBMITTED'
    AND bfo.status NOT IN ('ARCHIVED','CANCELLED')
    AND bop.archived = 'N'
    AND (fot.name IS NULL OR fot.name <> 'REFUND')
    --AND bo.customer_id IN {clientes}
)

SELECT DISTINCT
    s.site_identifier_value AS city,
    bo.customer_id,
    DATE(bo.submit_date) AS submit_date,
    bo.order_id,
    bs.addl_product_id AS padre_sku_id,
    bcat2.name AS cat,
    CASE
        WHEN bcat.name ILIKE 'Pollo%' THEN 'Pollo'
        WHEN bcat.name ILIKE 'Res%' THEN 'Res'
        WHEN bcat.name ILIKE 'Cerdo%' THEN 'Cerdo'
        ELSE bcat.name
    END AS subcat,
    bs2.name,
    CASE 
        WHEN s.site_identifier_value = 'CMX' then (boi.quantity * foi.step_unit * boi.sale_price)*1.0/19.65
        WHEN s.site_identifier_value = 'GDL' then (boi.quantity * foi.step_unit * boi.sale_price)*1.0/19.65
        WHEN s.site_identifier_value = 'PBC' then (boi.quantity * foi.step_unit * boi.sale_price)*1.0/19.65
        WHEN s.site_identifier_value = 'MTY' then (boi.quantity * foi.step_unit * boi.sale_price)*1.0/19.65
        WHEN s.site_identifier_value = 'SPO' then (boi.quantity * foi.step_unit * boi.sale_price)*1.0/4.75
        WHEN s.site_identifier_value = 'BHZ' then (boi.quantity * foi.step_unit * boi.sale_price)*1.0/4.75
        WHEN s.site_identifier_value = 'CWB' then (boi.quantity * foi.step_unit * boi.sale_price)*1.0/4.75
        WHEN s.site_identifier_value = 'VCP' then (boi.quantity * foi.step_unit * boi.sale_price)*1.0/4.75
    ELSE (boi.quantity * foi.step_unit * boi.sale_price)*1.0/3776 END AS gmv_usd,    
    CASE 
        WHEN s.site_identifier_value = 'CMX' then (boida.adjustment_value * boipd.quantity * foi.step_unit)*1.0/19.65
        WHEN s.site_identifier_value = 'GDL' then (boida.adjustment_value * boipd.quantity * foi.step_unit)*1.0/19.65
        WHEN s.site_identifier_value = 'PBC' then (boida.adjustment_value * boipd.quantity * foi.step_unit)*1.0/19.65
        WHEN s.site_identifier_value = 'MTY' then (boida.adjustment_value * boipd.quantity * foi.step_unit)*1.0/19.65
        WHEN s.site_identifier_value = 'SPO' then (boida.adjustment_value * boipd.quantity * foi.step_unit)*1.0/4.75
        WHEN s.site_identifier_value = 'BHZ' then (boida.adjustment_value * boipd.quantity * foi.step_unit)*1.0/4.75
        WHEN s.site_identifier_value = 'CWB' then (boida.adjustment_value * boipd.quantity * foi.step_unit)*1.0/4.75
        WHEN s.site_identifier_value = 'VCP' then (boida.adjustment_value * boipd.quantity * foi.step_unit)*1.0/4.75
    ELSE (boida.adjustment_value * boipd.quantity * foi.step_unit)*1.0/3776 END AS discount_usd,
    (boi.quantity*foi.step_unit) AS cant

FROM postgres_broadleaf_federate."broadleaf.blc_order" bo
INNER JOIN postgres_broadleaf_federate."broadleaf.blc_site"                     s       ON s.site_id = bo.site_disc
INNER JOIN postgres_broadleaf_federate."broadleaf.blc_order_item"               boi     ON boi.order_id=bo.order_id
INNER JOIN postgres_broadleaf_federate."broadleaf.fb_order_item"                foi     ON boi.order_item_id= foi.order_item_id
INNER JOIN postgres_broadleaf_federate."broadleaf.fb_order"                     fo      ON fo.order_id = bo.order_id
INNER JOIN ful                                                                          ON ful.order_id = bo.order_id
INNER JOIN postgres_broadleaf_federate."broadleaf.blc_discrete_order_item"      bdoi    ON bdoi.order_item_id = boi.order_item_id
INNER JOIN postgres_broadleaf_federate."broadleaf.blc_sku"                      bs      ON bs.sku_id = bdoi.sku_id
INNER JOIN postgres_broadleaf_federate."broadleaf.blc_product"                  bp      ON bs.addl_product_id = bp.product_id
INNER JOIN postgres_broadleaf_federate."broadleaf.blc_sku"                      bs2     ON bs2.sku_id = bp.default_sku_id --Conectar la tarjeta con el sku que guarda la info
INNER JOIN postgres_broadleaf_federate."broadleaf.blc_category"                 bcat    ON bcat.category_id = bp.default_category_id 
INNER JOIN postgres_broadleaf_federate."broadleaf.blc_category_xref"            bcx     ON bcx.sub_category_id = bp.default_category_id AND bcx.archived='N' AND bcx.sndbx_tier is NULL
INNER JOIN postgres_broadleaf_federate."broadleaf.blc_category"                 bcat2   ON bcx.category_id = bcat2.category_id
LEFT JOIN postgres_broadleaf_federate."broadleaf.blc_order_item_price_dtl"      boipd   ON boipd.order_item_id=boi.order_item_id
LEFT JOIN postgres_broadleaf_federate."broadleaf.blc_order_item_dtl_adj"        boida   ON boida.order_item_price_dtl_id=boipd.order_item_price_dtl_id

WHERE fb_order_status_id IN (1,6,7,8)
    AND bo.order_status = 'SUBMITTED'
   -- FIX SUPER DESCUENTOS
    AND bcat2.category_id not in ('110873','-1000','100768','100765','100815') --ids de super descuentos en cada país
    AND bcat.name <> 'Oferton Frubana' AND bcat2.name <> 'Oferton Frubana'
"""#.format(clientes=tuple(set(clear_buyers[clear_buyers.registered_city == city].customer_id.unique())), city = city)

df_sells = read_connection_data_warehouse.runQuery(query)
df_sells[["gmv_usd", "cant","discount_usd"]] = df_sells[["gmv_usd", "cant","discount_usd"]].astype(float)
df_sells['submit_date'] = pd.to_datetime(df_sells['submit_date'])

In [36]:
print(df_sells.submit_date.min(),df_sells.submit_date.max())

2022-11-01 00:00:00 2022-11-30 00:00:00

In [37]:
df_sells.columns

Index(['city', 'customer_id', 'submit_date', 'order_id', 'padre_sku_id', 'cat',
       'subcat', 'name', 'gmv_usd', 'discount_usd', 'cant'],
      dtype='object')

In [38]:
def df_info_filter_offer(df_offers_grouped, i, test, control):
    df_filter_test = df_sells[(df_sells['city'] == df_offers_grouped.loc[i,'region_code']) & 
                         (df_sells['customer_id'].isin(test)) & 
                         (df_sells['submit_date'] >= df_offers_grouped.loc[i,'start_date']) & 
                         (df_sells['submit_date'] < df_offers_grouped.loc[i,'end_date']) & 
                         (df_sells['padre_sku_id'].isin(df_offers_grouped.loc[i,'card_id']))].copy()
    df_filter_control = df_sells[(df_sells['city'] == df_offers_grouped.loc[i,'region_code']) & 
                         (df_sells['customer_id'].isin(control)) & 
                         (df_sells['submit_date'] >= df_offers_grouped.loc[i,'start_date']) & 
                         (df_sells['submit_date'] < df_offers_grouped.loc[i,'end_date']) & 
                         (df_sells['padre_sku_id'].isin(df_offers_grouped.loc[i,'card_id']))].copy()
    
    if len(df_filter_control) == 0 and len(df_filter_test) == 0:
        return "nada"
    elif len(df_filter_control) == 0:
        dic = {}
        dic = df_filter_test.iloc[0].to_dict()
        dic['customer_id'] = 0
        dic['gmv_usd'] = 0
        dic['discount_usd'] = 0
        dic['cant'] = 0
        new_df = pd.DataFrame(dic, index=[0])
        df_filter_control = pd.concat([df_filter_control, new_df], ignore_index=True)
    elif len(df_filter_test) == 0:
        dic = {}
        dic = df_filter_control.iloc[0].to_dict()
        dic['customer_id'] = 0
        dic['gmv_usd'] = 0
        dic['discount_usd'] = 0
        dic['cant'] = 0
        new_df = pd.DataFrame(dic, index=[0])
        df_filter_test = pd.concat([df_filter_test, new_df], ignore_index=True)
        
    df_filter_test['group'] = 'test'
    df_filter_control['group'] = 'control'
    df_filter_test['all_customer'] = len(test)
    df_filter_control['all_customer'] = len(control)
    df_filter = pd.concat([df_filter_test, df_filter_control]).reset_index(drop=True)
    df_filter['offer_id'] = df_offers_grouped.loc[i,'offer_id']
    #df_filter['GM'] = df_filter.padre_sku_id.apply(lambda x: df_margen2.loc[df_margen2.id_tarjeta == x]['GM'].unique()[0])
    df_filter['GM'] = df_filter.padre_sku_id.apply(lambda x: 0.1 if len(df_margen2.loc[df_margen2.id_tarjeta == x]['GM'].unique()) == 0 else df_margen2.loc[df_margen2.id_tarjeta == x]['GM'].unique()[0])
    df_filter['gmv_usd_GM'] = df_filter.gmv_usd * df_filter.GM
    
    return df_filter

In [40]:
df_offers_grouped[['start_date','end_date']].drop_duplicates().sort_values(by=['start_date'])

    start_date   end_date
0   2022-11-01 2022-11-30
769 2022-11-01 2022-11-23

In [41]:
df_offers_grouped = df_offers_grouped.loc[(df_offers_grouped.start_date >= '2022-11-01') & (df_offers_grouped.end_date <= '2022-12-01')].reset_index(drop=True).copy()

In [42]:
global_results_list = [] 
columns = ['city', 'offer_id', 'subcat', 'group', 'customer_count', 'gmv_usd',
       'discount_usd', 'quantity', 'all_customer',
       'convertion_rate', 'AOV', 'dct_avg']
results_df = pd.DataFrame()#data={col: [] for col in columns})

for i in range(len(df_offers_grouped)):
    test = customers_offer(df_offers_grouped.loc[i,'customer_segment_id_test'])
    control = customers_offer(df_offers_grouped.loc[i,'customer_segment_id_control'])
    print(df_offers_grouped.loc[i,'offer_id'])
    
    info_offer = df_info_filter_offer(df_offers_grouped, i, test, control)
    if type(info_offer) == str:
     pass 
    else:
     results_offer = (info_offer.groupby(by=['city', 'offer_id', 'subcat', 'group', 'all_customer'])
                                   .agg(customer_count=('customer_id', 'nunique'),
                                        gmv_usd=('gmv_usd', np.sum),
                                        discount_usd=('discount_usd', np.sum),
                                        quantity=('cant', np.sum),
                                        margen=('GM', np.mean),
                                        gmv_usd_GM=('gmv_usd_GM', np.sum))
                                   .reset_index()
                         )
     
     results_offer['convertion_rate'] = results_offer.customer_count / results_offer.all_customer       
     results_offer['AOV'] = results_offer.gmv_usd / results_offer.customer_count
     results_offer['AOV_net'] = results_offer.gmv_usd_GM / results_offer.customer_count
     results_offer['dct_avg'] = results_offer.discount_usd / results_offer.customer_count
     
     results_df = pd.concat([results_df, results_offer]).reset_index(drop=True)

-14466693
-14466692
-14466691
-14466690
-14466689
-14466688
-14466687
-14466686
-14466685
-14466684
-14466683
-14466682
-14466681
-14466680
-14466679
-14466678
-14466677
-14466676
-14466675
-14466674
-14466673
-14466672
-14466671
-14466670
-14466669
-14466643
-14466642
-14466641
-14466640
-14466639
-14466638
-14466637
-14466636
-14466635
-14466634
-14466633
-14466632
-14466631
-14466630
-14466629
-14466628
-14466627
-14466626
-14466625
-14466624
-14466623
-14466601
-14466600
-14466599
-14466598
-14466597
-14466596
-14466595
-14466594
-14466593
-14466592
-14466591
-14466590
-14466589
-14466588
-14466587
-14466586
-14466585
-14466584
-14466583
-14466582
-14466581
-14466580
-14466579
-14466578
-14466577
-14466576
-14466575
-14466574
-14466573
-14466543
-14466542
-14466541
-14466540
-14466539
-14466538
-14466537
-14466536
-14466535
-14466534
-14466533
-14466532
-14466531
-14466530
-14466529
-14466528
-14466527
-14466526
-14466525
-14466524
-14466523
-14466522
-14466521
-14466520
-14466519
-14466518
-14466517
-14466516
-14466515
-14466514
-14466482
-14466481
-14466480
-14466479
-14466478
-14466477
-14466476
-14466475
-14466474
-14466473
-14466472
-14466471
-14466470
-14466469
-14466468
-14466467
-14466466
-14466465
-14466464
-14466463
-14466462
-14466461
-14466438
-14466437
-14466436
-14466435
-14466434
-14466433
-14466432
-14466431
-14466430
-14466429
-14466428
-14466427
-14466426
-14466425
-14466424
-14466423
-14466422
-14466421
-14466420
-14466419
-14466418
-14466417
-14466416
-14466415
-14466390

:

In [ ]:
results_df.head()

,city,offer_id,subcat,group,all_customer,customer_count,gmv_usd,discount_usd,quantity,margen,gmv_usd_GM,convertion_rate,AOV,AOV_net,dct_avg
0,BAQ,-14487713,Mantequillas,control,108,1,5.033633,0.000000,1.0,0.174775,0.879753,0.009259,5.033633,0.879753,0.000000
1,BAQ,-14487713,Mantequillas,test,437,3,75.504502,4.026907,15.0,0.174775,13.196293,0.006865,25.168167,4.398764,1.342302
2,BAQ,-14487677,Aceites & Grasas,control,40,7,92.797669,1.855953,17.0,0.079473,7.374873,0.175000,13.256810,1.053553,0.265136
3,BAQ,-14487677,Aceites & Grasas,test,159,65,1166.403713,53.126456,213.0,0.078452,91.007690,0.408805,17.944673,1.400118,0.817330
4,BAQ,-14487676,Arroz,control,72,7,346.980932,13.742055,26.0,0.042487,11.808284,0.097222,49.568705,1.686898,1.963151

In [ ]:
offers_metrics_df = pd.merge(df_offers_grouped[['region_code', 'offer_id','discount', 'start_date', 'end_date','value_discount']],
                          results_df[['offer_id', 'subcat', 'group', 'customer_count', 'gmv_usd','discount_usd', 'quantity', 'all_customer', 'convertion_rate', 'AOV','dct_avg','margen','gmv_usd_GM','AOV_net']],
                          left_on='offer_id', right_on='offer_id')#.drop(columns = ['id_tarjeta'])

In [ ]:
def calculate_ROI(df):
    df.columns = df.iloc[7].unique()
    margen_subcat = df_margen3.loc[(df_margen3.region == df['test'].loc['region_code']) & (df_margen3.subcategoria == df['test'].loc['subcat'])].GM.unique()[0]
    
    GMV_t = df['test'].loc['convertion_rate'] * df['test'].loc['all_customer'] * df['test'].loc['AOV_net']# * margen_subcat
    dct_t = df['test'].loc['convertion_rate'] * df['test'].loc['all_customer'] * df['test'].loc['dct_avg']

    GMV_c = df['control'].loc['convertion_rate'] * df['test'].loc['all_customer'] * df['control'].loc['AOV_net']# * margen_subcat
    dct_c = df['control'].loc['convertion_rate'] * df['test'].loc['all_customer'] * df['control'].loc['dct_avg']
    
    net_GMV_t = GMV_t - dct_t
    net_GMV_c = GMV_c - dct_c
    
    diff_net_GMV = net_GMV_t - net_GMV_c
    diff_net_dct = dct_t - dct_c
    
    ROI = diff_net_GMV / diff_net_dct if diff_net_dct != 0 else 0
    
    if df['control'].loc['AOV'] != 0:
        if df['test'].loc['AOV'] == 0 or diff_net_dct < 0:
            ROI = 'NO APLICA'
        elif df['control'].loc['dct_avg']/df['control'].loc['AOV'] > df['test'].loc['dct_avg']/df['test'].loc['AOV']:
            ROI = 'NO APLICA'
    #ROI = diff_net_GMV / diff_net_dct
    return diff_net_GMV, diff_net_dct, ROI, margen_subcat

In [ ]:
for offer in offers_metrics_df.offer_id.unique():
    if offer not in (-14491634,-14491336,-14492127) and len(offers_metrics_df.loc[offers_metrics_df.offer_id == offer].T.columns) == 2:
        print(offer)
        diff_net_GMV, diff_net_dct, ROI, margen_subcat = calculate_ROI(offers_metrics_df.loc[offers_metrics_df.offer_id == offer].T)
        offers_metrics_df.loc[offers_metrics_df.offer_id == offer,'diff_net_GMV'] = diff_net_GMV
        offers_metrics_df.loc[offers_metrics_df.offer_id == offer,'diff_net_dct'] = diff_net_dct
        offers_metrics_df.loc[offers_metrics_df.offer_id == offer,'ROI'] = ROI
        offers_metrics_df.loc[offers_metrics_df.offer_id == offer,'margen_subcat'] = margen_subcat

-14487713
-14487677
-14487676
-14487675
-14487674
-14487673
-14487672
-14487671
-14487639
-14487638
-14487637
-14487636
-14487635
-14487634
-14487633
-14487632
-14487631
-14487630
-14487629
-14487628
-14487627
-14487626
-14487625
-14487624
-14487623
-14487622
-14487621
-14487620
-14487619
-14487618
-14487589
-14487588
-14487587
-14487586
-14487585
-14487584
-14487583
-14487582
-14487581
-14487580
-14487579
-14487578
-14487577
-14487576
-14487575
-14487574
-14487573
-14487572
-14487571
-14487570
-14487569
-14487568
-14487567
-14487566
-14487565
-14487564
-14487563
-14487562
-14487561
-14487560
-14487558
-14487557
-14487556
-14487555
-14487519
-14487518
-14487517
-14487516
-14487515
-14487513
-14487512
-14487511
-14487510
-14487509
-14487508
-14487507
-14487506
-14487505
-14487504
-14487503
-14487502
-14487501
-14487500
-14487499
-14487498
-14487497
-14487496
-14487495
-14487494
-14487493
-14487492
-14487491
-14487490
-14487489
-14487488
-14487487
-14487486
-14487485
-14487484
-14487483
-14487482
-14487481
-14487480
-14487479
-14487478
-14487477
-14487476
-14487475
-14487474
-14487473
-14487472
-14487471
-14487470
-14487469
-14487468
-14487467
-14487466
-14487465
-14487464
-14487463
-14487462
-14487461
-14487460
-14487459
-14487458
-14487425
-14487424
-14487423
-14487422
-14487421
-14487420
-14487419
-14487418
-14487417
-14487416
-14487415
-14487414
-14487413
-14487412
-14487411
-14487410
-14487409
-14487408
-14487407
-14487406
-14487405
-14487404
-14487403
-14487402
-14487401
-14487400
-14487399
-14487398
-14487397
-14487396
-14487395
-14487394
-14486628
-14486627
-14486626
-14486625
-14486624
-14486623
-14486622
-14486621
-14486620
-14486619
-14486618
-14486617
-14486616
-14486615
-14486614
-14486613
-14486612
-14486611
-14486610
-14486604
-14486603
-14486602
-14486601
-14486600
-14486599
-14486598
-14486597
-14486595
-14486594
-14486593
-14486592
-14486591
-14486590
-14486589
-14486588
-14486587
-14486586
-14486585
-14486584
-14486583
-14486582
-14486581
-14486580
-14486579
-14486578
-14486577
-14486576
-14486575
-14486574
-14486573
-14486572
-14486571
-14486570
-14486569
-14486568
-14486567
-14486566
-14486565
-14486564
-14486563
-14486562
-14486561
-14486560
-14486559
-14486558
-14486557
-14486556
-14486555
-14486554
-14486511
-14486510
-14486509
-14486508
-14486506
-14486505
-14486504
-14486503
-14486502
-14486501
-14486500
-14486499
-14486498
-14486497
-14486496
-14486495
-14486494
-14486493
-14486492
-14486491
-14486490
-14486489
-14486488
-14486487
-14486486
-14486485
-14486484
-14486483
-14486482
-14486481
-14486480
-14486479
-14486478
-14486477
-14486476
-14486475
-14486474
-14486473
-14486472
-14486471
-14486470
-14486432
-14486431
-14486430
-14486429
-14486428
-14486427
-14486426
-14486425
-14486388
-14486387
-14486386
-14486385
-14486384
-14486383
-14486382
-14486381
-14486380
-14486378
-14486377
-14486376
-14486375
-14486374
-14486373
-14486372
-14486371
-14486370
-14486369
-14486367
-14486366
-14486365
-14486364
-14486363
-14486362
-14486361
-14486360
-14486359
-14486358
-14486357
-14486356
-14486322
-14486321
-14486320
-14486319
-14486318
-14486317
-14486316
-14486315
-14486314
-14486313
-14486312
-14486311
-14486310
-14486309
-14486308
-14486307
-14486306
-14486305
-14486304
-14486303
-14486302
-14486301
-14486300
-14486299
-14486298
-14486297
-14486296
-14486295
-14486294
-14486240
-14486239
-14486238
-14486237
-14486235
-14486234
-14486233
-14486232
-14486231
-14486230
-14486229
-14486228
-14486227
-14486226
-14486225
-14486223
-14486222
-14486221
-14486220
-14486219
-14486218
-14486217
-14486216
-14486215
-14486214
-14486213
-14486212
-14486211
-14486210
-14486209
-14486208
-14486207
-14486206
-14486205
-14486204
-14486203
-14486202
-14486201
-14486200
-14486199
-14486198
-14486197
-14486196
-14486195
-14486194
-14486193
-14486192
-14486191
-14486190
-14486189
-14486188
-14488512
-14488511
-14488510
-14488509
-14488508
-14488507
-14488506
-14488505
-14488471
-14488470
-14488469
-14488468
-14488467
-14488466
-14488465
-14488463
-14488462
-14488461
-14488460
-14488459
-14488423
-14488422
-14488421
-14488420
-14488419
-14488418
-14488416
-14488415
-14488414
-14488413
-14488412
-14488411
-14488410
-14488409
-14488408
-14488407
-14488406
-14488405
-14488404
-14488403
-14488402
-14488400
-14488399
-14488398
-14488396
-14488395
-14488394
-14488393
-14488392
-14488391
-14488390
-14488389
-14488353
-14488352
-14488351
-14488350
-14488349
-14488348
-14488347
-14488346
-14488345
-14488344
-14488343
-14488342
-14488341
-14488340
-14488339
-14488338
-14488337
-14488336
-14488335
-14488334
-14488333
-14488332
-14488331
-14488329
-14488328
-14488327
-14488325
-14488324
-14488323
-14488322
-14488321
-14488320
-14488319
-14488318
-14488281
-14488280
-14488279
-14488278
-14488277
-14488276
-14488274
-14488273
-14488272
-14488271
-14488270
-14488269
-14488268
-14488267
-14488266
-14488265
-14488264
-14488263
-14488262
-14488261
-14488260
-14488259
-14488258
-14488257
-14488256
-14488255
-14488254
-14488252
-14488251
-14488250
-14488249
-14488248
-14488247
-14488246
-14488245
-14488207
-14488206
-14488205
-14488204
-14488203
-14488202
-14488201
-14488200
-14488199
-14488198
-14488197
-14488196
-14488195
-14488194
-14488193
-14488192
-14488191
-14488190
-14488189
-14488188
-14488187
-14488186
-14488185
-14488183
-14488182
-14488181
-14488179
-14488178
-14488177
-14488176
-14488175
-14488174
-14488173
-14488137
-14488136
-14488135
-14488134
-14488133
-14488132
-14488131
-14488130
-14488129
-14488128
-14488127
-14488126
-14488125
-14488124
-14488123
-14488122
-14488121
-14488120
-14488119
-14488118
-14488087
-14488086
-14488085
-14488084
-14488083
-14488082
-14488081
-14488080
-14488079
-14488078
-14488077
-14488076
-14488075
-14488074
-14488073
-14488072
-14488071
-14488070
-14488069
-14488068
-14488067
-14488066
-14488064
-14488063
-14488062
-14488045
-14488044
-14488043
-14488042
-14488041
-14488040
-14488039
-14488038
-14488037
-14488036
-14488035
-14488034
-14488033
-14488032
-14488031
-14488030
-14488029
-14488028
-14488027
-14488026
-14488025
-14488024
-14488023
-14488022
-14488021
-14488020
-14488019
-14488017
-14488016
-14488015
-14488014
-14488013
-14488012
-14488011
-14488005
-14488004
-14488003
-14488002
-14488001
-14488000
-14487999
-14487998
-14487997
-14487996
-14487995
-14487994
-14487993
-14487992
-14487991
-14487990
-14487989
-14487988
-14487987
-14487986
-14487985
-14487984
-14487983
-14487982
-14487981
-14487980
-14487979
-14487977
-14487976
-14487975
-14487974
-14487973
-14487972
-14487971
-14487970
-14485431
-14485430
-14485429
-14485428
-14485427
-14485426
-14485425
-14485424
-14485389
-14485388
-14485387
-14485386
-14485385
-14485383
-14485382
-14485381
-14485380
-14485379
-14485378
-14485377
-14485376
-14485375
-14485374
-14485373
-14485372
-14485371
-14485370
-14485369
-14485368
-14485367
-14485366
-14485325
-14485324
-14485323
-14485322
-14485321
-14485320
-14485319
-14485318
-14485316
-14485315
-14485314
-14485313
-14485312
-14485311
-14485310
-14485309
-14485308
-14485307
-14485306
-14485305
-14485304
-14485303
-14485302
-14485301
-14485300
-14485299
-14485298
-14485297
-14485296
-14485295
-14485294
-14485293
-14485292
-14485291
-14485290
-14485289
-14485288
-14485287
-14485286
-14485244
-14485243
-14485242
-14485241
-14485240
-14485239
-14485238
-14485237
-14485236
-14485235
-14485234
-14485233
-14485232
-14485231
-14485230
-14485229
-14485228
-14485227
-14485226
-14485225
-14485224
-14485223
-14485222
-14485221
-14485220
-14485219
-14485218
-14485217
-14485216
-14485215
-14485214
-14485213
-14485212
-14485211
-14485210
-14485209
-14485208
-14485207
-14485206
-14485205
-14485164
-14485163
-14485162
-14485161
-14485160
-14485159
-14485158
-14485157
-14485156
-14485155
-14485154
-14485153
-14485152
-14485151
-14485150
-14485149
-14485143
-14485142
-14485141
-14485140
-14485139
-14485138
-14485137
-14485136
-14485135
-14485134
-14485133
-14485132
-14485131
-14485130
-14485129
-14485128
-14485127
-14485126
-14485125
-14485124
-14485123
-14485122
-14485121
-14485120
-14485119
-14485118
-14485117
-14485116
-14485115
-14485114
-14485113
-14485112
-14485111
-14485110
-14485109
-14485108
-14485107
-14485106
-14485105
-14485104
-14485063
-14485062
-14485061
-14485060
-14485059
-14485057
-14485056
-14485055
-14485054
-14485053
-14485052
-14485051
-14485050
-14485049
-14485048
-14485047
-14485046
-14485045
-14485044
-14485043
-14485041
-14485040
-14485039
-14485038
-14485037
-14485036
-14485035
-14485034
-14485033
-14485032
-14485031
-14485030
-14485029
-14485028
-14485027
-14485026
-14485025
-14485024
-14484951
-14484950
-14484949
-14484948
-14484947
-14484946
-14484945
-14484944
-14484943
-14484942
-14484941
-14484940
-14484938
-14484937
-14484936
-14484935
-14484934
-14484933
-14484932
-14484931
-14484930
-14484929
-14484928
-14484927
-14484926
-14484925
-14484924
-14484923
-14484922
-14484921
-14484920
-14484903
-14484902
-14484901
-14484900
-14484899
-14484898
-14484897
-14484896
-14484895
-14484894
-14484893
-14484892
-14484891
-14484890
-14484889
-14484888
-14484886
-14484885
-14484884
-14484883
-14484882
-14484881
-14484880
-14484879
-14484878
-14484877
-14484876
-14484875
-14484874
-14484873
-14484872
-14484871
-14484870
-14484869
-14484868
-14484867
-14484866
-14484865
-14484864
-14484855
-14484854
-14484853
-14484852
-14484851
-14484850
-14484849
-14484848
-14484847
-14484846
-14484845
-14484844
-14484843
-14484842
-14484841
-14484840
-14484838
-14484837
-14484836
-14484834
-14484833
-14484832
-14484831
-14484830
-14484829
-14484828
-14484827
-14484826
-14484825
-14484824
-14484823
-14484822
-14484821
-14484820
-14484819
-14484818
-14484817
-14484816
-14486180
-14486179
-14486178
-14486177
-14486176
-14486175
-14486174
-14486173
-14486172
-14486171
-14486170
-14486169
-14486168
-14486167
-14486166
-14486165
-14486164
-14486163
-14486162
-14486161
-14486160
-14486159
-14486158
-14486157
-14486156
-14486155
-14486154
-14486153
-14486139
-14486138
-14486136
-14486135
-14486134
-14486133
-14486131
-14486130
-14486129
-14486128
-14486127
-14486126
-14486125
-14486124
-14486123
-14486122
-14486121
-14486120
-14486119
-14486118
-14486117
-14486116
-14486115
-14486114
-14486113
-14486112
-14486111
-14486109
-14486108
-14486107
-14486106
-14486105
-14486104
-14486030
-14486029
-14486028
-14486027
-14486026
-14486025
-14486024
-14486023
-14486022
-14486021
-14486020
-14486019
-14486018
-14486017
-14486015
-14486014
-14486013
-14486012
-14486011
-14486010
-14486009
-14486008
-14486007
-14486006
-14486005
-14486004
-14486003
-14486002
-14486001
-14486000
-14485999
-14485998
-14485997
-14485996
-14485995
-14485994
-14485993
-14485992
-14485991
-14485990
-14485989
-14485988
-14485987
-14485942
-14485941
-14485940
-14485939
-14485938
-14485937
-14485936
-14485915
-14485914
-14485913
-14485912
-14485911
-14485910
-14485909
-14485908
-14485907
-14485906
-14485905
-14485903
-14485902
-14485901
-14485900
-14485899
-14485898
-14485897
-14485896
-14485895
-14485894
-14485893
-14485892
-14485867
-14485866
-14485865
-14485864
-14485862
-14485861
-14485860
-14485859
-14485858
-14485857
-14485855
-14485854
-14485852
-14485851
-14485850
-14485849
-14485848
-14485847
-14485846
-14485845
-14485844
-14485843
-14485842
-14485841
-14485840
-14485839
-14485838
-14485837
-14485836
-14485835
-14485834
-14487926
-14487925
-14487924
-14487923
-14487922
-14487921
-14487919
-14487918
-14487917
-14487916
-14487915
-14487914
-14487913
-14487912
-14487911
-14487910
-14487909
-14487908
-14487907
-14487906
-14487905
-14487904
-14487880
-14487879
-14487878
-14487877
-14487876
-14487875
-14487874
-14487873
-14487872
-14487871
-14487870
-14487869
-14487868
-14487867
-14487866
-14487865
-14487864
-14487863
-14487862
-14487861
-14487860
-14487859
-14487858
-14487857
-14487856
-14487855
-14487854
-14487853
-14487824
-14487823
-14487822
-14487821
-14487820
-14487819
-14487818
-14487817
-14487816
-14487815
-14487814
-14487813
-14487812
-14487811
-14487810
-14487809
-14487808
-14487807
-14487806
-14487805
-14487804
-14487782
-14487781
-14487780
-14487779
-14487778
-14487777
-14487776
-14487775
-14487774
-14487773
-14487772
-14487771
-14487770
-14487769
-14487768
-14487767
-14487766
-14487765
-14487764
-14487763
-14487762
-14487761
-14487760
-14487736
-14487735
-14487734
-14487733
-14487732
-14487731
-14487730
-14487729
-14487728
-14487727
-14487726
-14487725
-14487724
-14487723
-14487722
-14487721
-14487720
-14487719
-14487718
-14487717
-14487716
-14487715
-14487714
-14487355
-14487354
-14487353
-14487352
-14487337
-14487336
-14487335
-14487334
-14487333
-14487332
-14487331
-14487330
-14487329
-14487327
-14487326
-14487325
-14487324
-14487323
-14487322
-14487321
-14487320
-14487319
-14487318
-14487317
-14487316
-14487315
-14487314
-14487313
-14487312
-14487311
-14487310
-14487309
-14487308
-14487307
-14487306
-14487305
-14487303
-14487302
-14487301
-14487300
-14487299
-14487298
-14487297
-14487296
-14487295
-14487270
-14487269
-14487268
-14487267
-14487266
-14487265
-14487264
-14487263
-14487262
-14487261
-14487260
-14487259
-14487258
-14487257
-14487256
-14487255
-14487254
-14487253
-14487252
-14487251
-14487250
-14487249
-14487248
-14487247
-14487246
-14487245
-14487244
-14487243
-14487242
-14487241
-14487240
-14487239
-14487238
-14487237
-14487236
-14487235
-14487234
-14487233
-14487232
-14487231
-14487230
-14487229
-14487228
-14487227
-14487226
-14487225
-14487224
-14487223
-14487222
-14487177
-14487176
-14487175
-14487174
-14487173
-14487172
-14487171
-14487170
-14487169
-14487168
-14487167
-14487166
-14487165
-14487164
-14487163
-14487162
-14487161
-14487160
-14487159
-14487158
-14487157
-14487156
-14487155
-14487154
-14487153
-14487152
-14487151
-14487150
-14487149
-14487148
-14487147
-14487146
-14487145
-14487144
-14487143
-14487102
-14487101
-14487100
-14487099
-14487098
-14487097
-14487096
-14487095
-14487094
-14487093
-14487092
-14487090
-14487089
-14487088
-14487087
-14487086
-14487085
-14487084
-14487083
-14487082
-14487081
-14487080
-14487079
-14487078
-14487077
-14487076
-14487075
-14487074
-14487073
-14487072
-14487071
-14487070
-14487069
-14487068
-14487067
-14487066
-14487065
-14487064
-14487063
-14487062
-14487061
-14487018
-14487017
-14487016
-14487015
-14487014
-14487013
-14487012
-14487011
-14487010
-14487009
-14487008
-14487007
-14487006
-14487005
-14487004
-14487003
-14487002
-14487001
-14487000
-14486999
-14486998
-14486997
-14486996
-14486995
-14486994
-14486993
-14486992
-14486991
-14486990
-14486989
-14486988
-14486986
-14486985
-14486984
-14486983
-14486982
-14486981
-14486942
-14486941
-14486940
-14486939
-14486938
-14486937
-14486936
-14486935
-14486933
-14486932
-14486931
-14486930
-14486929
-14486928
-14486927
-14486926
-14486925
-14486924
-14486923
-14486922
-14486921
-14486920
-14486919
-14486918
-14486917
-14486916
-14486915
-14486914
-14486913
-14486849
-14486848
-14486847
-14486846
-14486845
-14486844
-14486843
-14486842
-14486841
-14486840
-14486839
-14486838
-14486837
-14486836
-14486835
-14486834
-14486833
-14486832
-14486831
-14486830
-14486829
-14486828
-14486827
-14486826
-14486825
-14486824
-14486823
-14486822
-14486821
-14486820
-14486819
-14486818
-14486817
-14486816
-14486815
-14486814
-14486813
-14486812
-14486811
-14486810
-14486809
-14486808
-14486807
-14486806
-14486787
-14486786
-14486785
-14486784
-14486783
-14486782
-14486781
-14486780
-14486779
-14486778
-14486777
-14486776
-14486775
-14486774
-14486773
-14486772
-14486771
-14486770
-14486769
-14486768
-14486767
-14486766
-14486765
-14486764
-14486763
-14486762
-14486761
-14486760
-14486759
-14486758
-14486757
-14486756
-14486755
-14486754
-14486753
-14486752
-14486751
-14486750
-14486749
-14486748
-14486747
-14486746
-14486745
-14486725
-14486724
-14486723
-14486722
-14486721
-14486720
-14486719
-14486718
-14486717
-14486716
-14486715
-14486714
-14486713
-14486712
-14486711
-14486710
-14486709
-14486708
-14486707
-14486706
-14486705
-14486704
-14486703
-14486702
-14486701
-14486700
-14486699
-14486698
-14486697
-14486696
-14486695
-14486694
-14486693
-14486692
-14486691
-14486690
-14486689
-14486688
-14486687
-14486686
-14486685
-14486684
-14486683
-14485833
-14485832
-14485831
-14485830
-14485829
-14485828
-14485790
-14485789
-14485788
-14485786
-14485785
-14485784
-14485783
-14485782
-14485781
-14485780
-14485779
-14485778
-14485777
-14485776
-14485775
-14485774
-14485773
-14485772
-14485771
-14485770
-14485769
-14485768
-14485767
-14485766
-14485724
-14485723
-14485722
-14485721
-14485720
-14485719
-14485718
-14485717
-14485715
-14485713
-14485712
-14485711
-14485708
-14485707
-14485706
-14485704
-14485703
-14485702
-14485701
-14485700
-14485699
-14485698
-14485697
-14485696
-14485695
-14485694
-14485693
-14485692
-14485691
-14485690
-14485648
-14485647
-14485646
-14485645
-14485644
-14485643
-14485642
-14485641
-14485640
-14485639
-14485637
-14485636
-14485635
-14485632
-14485631
-14485630
-14485628
-14485627
-14485626
-14485625
-14485624
-14485623
-14485622
-14485621
-14485620
-14485619
-14485618
-14485617
-14485616
-14485615
-14485614
-14485613
-14485612
-14485611
-14485610
-14485609
-14485608
-14485566
-14485565
-14485564
-14485563
-14485562
-14485561
-14485560
-14485559
-14485558
-14485557
-14485556
-14485555
-14485553
-14485547
-14485546
-14485545
-14485544
-14485543
-14485542
-14485541
-14485540
-14485539
-14485538
-14485537
-14485536
-14485534
-14485531
-14485530
-14485529
-14485527
-14485526
-14485525
-14485524
-14485523
-14485522
-14485521
-14485520
-14485519
-14485518
-14485517
-14485516
-14485515
-14485514
-14485513
-14485512
-14485511
-14485510
-14485471
-14485470
-14485469
-14485468
-14485467
-14485466
-14485465
-14485464
-14485463
-14485462
-14485460
-14485458
-14485455
-14485454
-14485453
-14485451
-14485450
-14485449
-14485448
-14485447
-14485446
-14485445
-14485444
-14485443
-14485442
-14485441
-14485440
-14485439
-14485438
-14485437
-14485436
-14485435
-14485434
-14485433
-14485432

In [ ]:
offers_metrics_df.dropna(subset=['ROI'], inplace=True)

In [ ]:
offers_metrics_df.head()

,region_code,offer_id,discount,start_date,end_date,value_discount,subcat,group,customer_count,gmv_usd,...,convertion_rate,AOV,dct_avg,margen,gmv_usd_GM,AOV_net,diff_net_GMV,diff_net_dct,ROI,margen_subcat
0,BAQ,-14487713,20230201_BAQ_comidarapida_piloto_NB_mantequill...,2023-02-01,2023-02-28,8.0,Mantequillas,control,1,5.033633,...,0.009259,5.033633,0.000000,0.174775,0.879753,0.879753,5.609646,4.026907,1.393041,0.168477
1,BAQ,-14487713,20230201_BAQ_comidarapida_piloto_NB_mantequill...,2023-02-01,2023-02-28,8.0,Mantequillas,test,3,75.504502,...,0.006865,25.168167,1.342302,0.174775,13.196293,4.398764,5.609646,4.026907,1.393041,0.168477
2,BAQ,-14487677,20230201_BAQ_fritos_piloto_NB_aceitesygrasas_W5,2023-02-01,2023-02-28,6.0,Aceites & Grasas,control,7,92.797669,...,0.175000,13.256810,0.265136,0.079473,7.374873,1.053553,15.943527,45.749043,0.3485,0.080321
3,BAQ,-14487677,20230201_BAQ_fritos_piloto_NB_aceitesygrasas_W5,2023-02-01,2023-02-28,6.0,Aceites & Grasas,test,65,1166.403713,...,0.408805,17.944673,0.817330,0.078452,91.007690,1.400118,15.943527,45.749043,0.3485,0.080321
4,BAQ,-14487676,20230201_BAQ_fritos_piloto_NB_arroz_W5,2023-02-01,2023-02-28,4.0,Arroz,control,7,346.980932,...,0.097222,49.568705,1.963151,0.042487,11.808284,1.686898,8.949785,-39.843522,NO APLICA,0.060889

In [ ]:
df_offers_grouped.head()

,region_code,offer_id,customer_segment_id_test,customer_segment_id_control,discount,start_date,end_date,value_discount,card_id,name
0,BAQ,-14487713,117440,117603,20230201_BAQ_comidarapida_piloto_NB_mantequill...,2023-02-01,2023-02-28,8.0,[253209],[Mantequilla sin Sal Alpina x 500gr]
1,BAQ,-14487712,117441,117604,20230201_BAQ_comidarapida_piloto_NB_quesos_W5,2023-02-01,2023-02-28,12.0,"[435713, 435733]",[Queso Costeño Semiduro Pasteurizado Los Campa...
2,BAQ,-14487677,117605,117526,20230201_BAQ_fritos_piloto_NB_aceitesygrasas_W5,2023-02-01,2023-02-28,6.0,"[180812, 262159]","[Aceite Naoli x 3Lt, Aceite Ricaceite x 3000ml ]"
3,BAQ,-14487676,117606,117525,20230201_BAQ_fritos_piloto_NB_arroz_W5,2023-02-01,2023-02-28,4.0,"[399349, 223861]","[Arroz Roa 25und x 500gr, Arroz Naoli x 3kg]"
4,BAQ,-14487675,117607,117527,20230201_BAQ_fritos_piloto_NB_azucaryendulzant...,2023-02-01,2023-02-28,4.0,[67822],[Azúcar en Bulto x 50kg ]

In [ ]:
df_offers_grouped.to_csv('SD_info offers.csv', index=False)
offers_metrics_df.to_csv('RESULTS_SD_ROI.csv', index=False)