In [20]:
#//----------------------------
#//LIBRARIES
    #Math
import math
    #Numeric Python
import numpy as np
    #Pandas (dataframes)
import pandas as pd
    #datetime for fate manipulation
from datetime import date, datetime, timedelta  
    #Regex for advanced string matching
import re
    #for time related stuff
import time
    #json library
import json
    #Analyst tools
import sys
sys.path.append('../')
from analysts_tools.growth import *
    #Procurement tools
from procurement_lib import send_slack_notification
from procurement_lib import redash
from analysts_tools.redash_methods import *

In [21]:
segments_ids_df = get_fresh_query_result("https://internal-redash.federate.frubana.com/",88683,'SeoGHWmDUaaBi7VXje1s9zYNiMD1VHQ1K1DYOxiF',{},20)

200

In [22]:
segments_ids_df.sort_values(by = 'customer_segment_id_rdsh', ascending=False)

,offer_name,customer_segment_id_rdsh
2368,20220722_BOG_other_NB_gaseosas_W29,74808
127,20220722_BOG_cafeteria_NB_gaseosas_W29,74807
3218,20220722_BOG_parrillaasadero_NB_gaseosas_W29,74806
3036,20220722_BOG_corrientazo_NB_gaseosas_W29,74805
1136,20220722_BOG_comidaespecializada_NB_gaseosas_W29,74804
...,...,...
3360,20220601_BOG_comidarapida_NB_alimentoscongelad...,67427
3311,20220601_BOG_comidarapida_NB_res_W22,67426
699,20220601_BOG_comidarapida_NB_embutidos_W22,67425
2782,20220601_BOG_comidarapida_NB_aceitesygrasas_W22,67424
3087,20220601_BOG_comidarapida_NB_pollo_W22,67423

### To get the segments ID (Should be after loading the segments in POSTMAN and FRIDA

In [23]:
city_code = 'BOG'

In [24]:
global_offer_csv = pd.read_csv(f'export_data/MS/csv_{city_code}_All_MS.csv')

In [25]:
len(global_offer_csv)

126

In [26]:
len(global_offer_csv[global_offer_csv['discount'] > 0])

126

In [27]:
global_offer_csv_ok = global_offer_csv[(global_offer_csv['discount'] > 0)] #& (global_offer_csv['offer_name'].str.contains("gaseosas", case=False))

In [28]:
get_done_csv = global_offer_csv_ok.merge(segments_ids_df[['offer_name','customer_segment_id_rdsh']], how = 'left', on = 'offer_name')

In [29]:
get_done_csv.customer_segment_id = get_done_csv.customer_segment_id_rdsh
get_done_csv = get_done_csv.drop(columns = ['customer_segment_id_rdsh'])
print(f'Done {city_code}')

Done BOG

In [30]:
get_done_csv.head()

,offer_name,offer_description,discount,automatically_consider_offer,start_date,end_date,max_uses_per_order,max_uses_per_customer,customer_segment_id,sku_id
0,20220722_BOG_comidarapida_NB_gaseosas_W29,comidarapida_NB_gaseosas,10,True,22-07-2022,31-07-2022,7,1,74801,194399#227091#194393#271114#271115#271116#2711...
1,20220722_BOG_empanadasarepas_NB_gaseosas_W29,empanadasarepas_NB_gaseosas,10,True,22-07-2022,31-07-2022,7,1,74802,194399#194393#271114#271116#271115#227091#2711...
2,20220722_BOG_comidaespecializada_NB_gaseosas_W29,comidaespecializada_NB_gaseosas,10,True,22-07-2022,31-07-2022,7,1,74804,194399#271114#271115#271116#271110#271112#2711...
3,20220722_BOG_panaderiapasteleria_NB_gaseosas_W29,panaderiapasteleria_NB_gaseosas,10,True,22-07-2022,31-07-2022,7,1,74803,227091#194399#271114#271115#271116#271110#2711...
4,20220722_BOG_corrientazo_NB_gaseosas_W29,corrientazo_NB_gaseosas,10,True,22-07-2022,31-07-2022,7,1,74805,194399#271114#271116#271115#271110#271112#2711...

In [31]:
len(get_done_csv)

8

In [32]:
get_done_csv.to_csv(f'export_data/MS/csv_{city_code}_All_MS.csv', index = False)